@import "../common";


.SnsList{

    &.SendPassword{
        padding-bottom: 15px;
    }
}

p.SnsTitle {

    &.SendPassword{
        margin-top: 39px;
    }
}

.ButtonFull.SendPassword{
    height: 70px;

    p{
        font-size: 10px;
        color: $blue3;
        font-weight: 300;
    }
}

.ButtonFullSmall.SendPassword{
    margin-bottom: 74px;
}

