@charset "UTF-8";
/*색상 변수*/
/*reset*/
* {
  margin: 0;
  padding: 0;
  font-family: 'SUIT', 'sans-serif';
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #868686;
}

/*button*/
.ButtonFull {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  line-height: 26px;
  /*padding, font-size, font-weight, line-height, border-radius*/
  background-color: #001881;
  height: 50px;
  color: #fff;
}

.ButtonFull:hover {
  background-color: #005ec5;
}

.ButtonFull.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonFull.Disable:hover {
  background-color: #e2e2e2;
}

.ButtonFullSmall {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 6px;
  line-height: 20px;
  /*padding, font-size, font-weight, line-height, border-radius*/
  background-color: #001881;
  height: 40px;
  color: #fff;
}

.ButtonFullSmall:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.ButtonFullSmall.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonSns {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 6px;
  line-height: 20px;
  /*padding, font-size, font-weight, line-height, border-radius*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.05em;
  height: 40px;
}

.ButtonSns:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.ButtonSns.Kakao {
  background-color: #fee500;
  font-weight: 400;
}

.ButtonSns.Kakao img {
  width: 13px;
  margin-right: 4px;
  margin-top: 2px;
}

.ButtonSns.Naver {
  background-color: #03c75a;
  color: #fff;
}

.ButtonSns.Naver img {
  width: 10px;
  margin-right: 6px;
}

/*input*/
ul.InputList > li {
  position: relative;
  height: 75px;
}

.InputFull {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  outline: none;
  padding: 16px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
}

.InputFull:hover {
  border: 1px solid #707070;
}

.InputFull.On {
  border: 1px solid #00b7ff;
  caret-color: #00b7ff;
}

.InputFull.Error {
  border: 1px solid #ff0045;
  caret-color: #ff0045;
}

.LabelFull {
  position: absolute;
  left: 8px;
  top: 13px;
  font-size: 16px;
  font-weight: 300;
  padding: 0 4px 0 7px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  line-height: 24px;
  color: #a8a8a8;
}

.LabelFull.On {
  top: -12px;
  color: #00b7ff;
  font-size: 13px;
  font-weight: 500;
}

.LabelFull.Error {
  top: -12px;
  color: #ff0045;
  font-size: 13px;
  font-weight: 500;
}

.InputTxt {
  font-size: 10px;
  text-align: center;
  font-weight: 300;
  position: absolute;
  width: 100%;
  top: 50px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.InputTxt.On {
  color: #00b7ff;
  opacity: 1;
  top: 54px;
}

.InputTxt.Error {
  color: #ff0045;
  opacity: 1;
  top: 54px;
}

.InputDel {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 16px;
  right: 15px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/InputDel.png");
  background-size: 100%;
}

.InputDel.On {
  display: block;
}

.PasswordShow {
  width: 25px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 17px;
  right: 48px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/PasswordShow.png");
  background-size: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.PasswordShow.Over {
  display: block;
}

.PasswordShow.On {
  background: url("../../src/assets/images/PasswordShow_On.png");
  background-size: 100%;
}

.PasswordShow.Error {
  background: url("../../src/assets/images/PasswordShow_Error.png");
  background-size: 100%;
  display: block;
}

.InputDouble {
  font-size: 10px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 20px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 15px;
  right: 48px;
  cursor: pointer;
  /*width, height, fontsize, top, right*/
}

.InputDouble.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.InputAdd {
  font-size: 10px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 20px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 15px;
  right: 15px;
  cursor: pointer;
  /*width, height, fontsize, top, right*/
}

.InputAdd.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.InputChecked {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 15px;
  right: 48px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/Checked_on.png");
  background-size: 100%;
  cursor: default;
}

.InputChecked.On {
  display: block;
}

.InputHide {
  /*로그인 상태 유지*/
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.InputHide ~ .LabelCheck {
  /*로그인 상태 유지*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 21px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.InputHide ~ .LabelCheck span {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url("../../src/assets/images/LogInCheck_off.png");
  background-size: 100%;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.InputHide:checked ~ .LabelCheck span {
  background: url("../../src/assets/images/LogInCheck_on.png");
  background-size: 100%;
}

body.Modal {
  height: 100vh;
  overflow: hidden;
}

.ModalWrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ModalWrapper.Modal .ModalBg {
  opacity: .5;
}

.ModalWrapper.Modal .ModalBox {
  opacity: 1;
}

.ModalBg {
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

.ModalBox {
  padding: 0 40px;
  width: 534px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  color: #868686;
  border-radius: 20px;
  height: 685px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
}

.ModalTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 48px;
  height: 18px;
}

.ModalTop .ModalClose {
  display: block;
  width: 14px;
  height: 14px;
  background: url("../../src/assets/images/ModalClose.png");
  background-size: 100%;
  cursor: pointer;
  margin-right: 10px;
}

.ModalTop .ModalArrow {
  font-size: 18px;
  color: #868686;
  cursor: pointer;
  line-height: 1;
  font-weight: 300;
}

.ModalTop .ModalArrow img {
  width: 8px;
  margin-right: 15px;
}

.ModalTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.ModalTitle li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  height: 45px;
}

.ModalTitle li.On {
  font-size: 32px;
  color: #000;
  font-weight: 700;
  cursor: default;
}

.ModalContents {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.ModalContents.On {
  opacity: 1;
}

.InputList {
  padding: 35px 0 20px;
}

.ListFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ListFlex li {
  width: 100%;
  margin-right: 16px;
}

.ListFlex li:last-child {
  margin-right: 0;
}

.SubList {
  margin: 30px 0 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SubList li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 300;
  color: #868686;
}

p.SnsTitle {
  margin: 58px auto 30px;
  font-size: 13px;
  color: #000;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

p.SnsTitle::before, p.SnsTitle::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
}

p.SnsTitle::before {
  margin-right: 11px;
}

p.SnsTitle::after {
  margin-left: 11px;
}

.SnsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

.SnsList li {
  width: 100%;
  margin-right: 16px;
}

.SnsList li:last-child {
  margin: 0;
}

.ChooseTitle {
  width: 100%;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  color: #a8a8a8;
  /*fontsize, color*/
  height: 50px;
  font-weight: 300;
  padding: 17px 4px 0 12px;
  -webkit-transition: .5s;
  transition: .5s;
}

.ChooseTitle.On {
  color: #707070;
}

.Choose {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 6px 4px 6px;
  border-radius: 12px;
  font-size: 13px;
  line-height: 14px;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Choose em {
  font-style: normal;
}

.ChooseUnder {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 6px 4px 6px;
  border-radius: 12px;
  font-size: 13px;
  line-height: 14px;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #00b7ff;
  color: #fff;
  padding-right: 26px;
  cursor: pointer;
}

.ChooseUnder .ChooseCancel {
  display: block;
}

.InputChoose:checked ~ .LabelChoose .Choose {
  background-color: #00b7ff;
  color: #fff;
  padding-right: 26px;
}

.InputChoose:checked ~ .LabelChoose .Choose .ChooseCancel {
  display: block;
}

ul.InputList.SignStep3 li.ChooseList {
  height: auto;
  margin-bottom: 25px;
}

.LabelChoose {
  display: block;
  width: 100%;
  cursor: pointer;
  height: 21px;
  padding: 4px 6px 2px;
  padding-right: 0;
}

.LabelChoose:hover p {
  background-color: #e2e2e2;
}

ul.ChooseListUnder {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul.ChooseListUnder li {
  margin-left: 8px;
  margin-top: 6px;
}

ul.ChooseListUnder::-webkit-scrollbar {
  display: none;
}

.ChooseCancel {
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 6px;
  right: 10px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/CloseWhite.png") 50% 50%;
  background-size: 100%;
  cursor: default;
}

.ChooseComplete {
  font-size: 13px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 20px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 8px;
  right: 8px;
  cursor: pointer;
  /*width, height, fontsize, top, right*/
  background-color: #e2e2e2;
  -webkit-transition: .3s;
  transition: .3s;
}

.ChooseComplete.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ChooseComplete:hover {
  background-color: #00b7ff;
}

@media screen and (max-width: 768px) {
  .ModalWrapper.Modal .ModalBox {
    margin-top: 40px;
    height: calc(100vh - 40px);
    position: fixed;
    bottom: 0;
  }
  .ModalBox {
    padding: 0 20px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 0;
    margin-top: 100vh;
  }
  .InputList {
    padding-top: 25px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .InputList::-webkit-scrollbar {
    display: none;
  }
  .ModalTop {
    margin-top: 40px;
    margin-bottom: 45px;
  }
  .ModalTop .ModalClose {
    margin-right: 0;
  }
  .ModalBody {
    height: calc(100vh - 194px);
  }
  .ModalBody::-webkit-scrollbar {
    display: none;
  }
  .SnsList li {
    margin-right: 10px;
  }
  .ListFlex li {
    margin-right: 10px;
  }
}

.InputList.Sign {
  overflow-y: auto;
  overflow-x: hidden;
  height: 310px;
}

.InputList.Sign::-webkit-scrollbar {
  display: none;
}

li.MailList {
  z-index: 1;
}

ul.MailList, ul.ChooseList {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  height: 50px;
  -webkit-transition: height .5s;
  transition: height .5s;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul.MailList:hover, ul.ChooseList:hover {
  border: 1px solid #707070;
}

ul.MailList.On, ul.ChooseList.On {
  border: 1px solid #00b7ff;
}

ul.MailList li, ul.ChooseList li {
  width: 100%;
  position: relative;
}

ul.MailList li:first-child, ul.ChooseList li:first-child {
  height: 50px;
}

ul.MailList li:first-child::after, ul.ChooseList li:first-child::after {
  content: '';
  display: block;
  height: 1px;
  width: calc(100% - 24px);
  background-color: #e2e2e2;
  margin: 0 auto;
}

ul.MailList li {
  cursor: pointer;
}

ul.MailList li:not(:first-child) {
  height: 21px;
  padding: 3px 35px;
  padding-right: 0;
}

ul.MailList li:hover p {
  background-color: #e2e2e2;
}

ul.MailList p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px 5px 4px;
  border-radius: 4px;
  font-size: 13px;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.InputMail {
  width: 100%;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  line-height: 1;
  color: #868686;
  /*fontsize, color*/
  padding: 15px 37px 17px;
}

.InputMail.On {
  caret-color: #00b7ff;
}

.LabelMail {
  position: absolute;
  font-size: 13px;
  line-height: 13px;
  top: 18px;
  left: 16px;
  color: #e2e2e2;
  -webkit-transition: .5s;
  transition: .5s;
}

.LabelMail.On {
  color: #00b7ff;
}

button.SignStep {
  margin: 30px 0 10px;
}

ul.SignStep1 {
  margin-bottom: 70px;
}

.StepSlide {
  width: 100%;
  height: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.StepSlide .Stepbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 4px;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
  width: 0;
  background-color: #00b7ff;
}

.InputList li.ProfileSection {
  height: 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ProfileBox {
  height: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  overflow: hidden;
}

.ProfileBox.On {
  border: 1px solid #00b7ff;
}

.ProfileShow {
  height: 160px;
  background-color: #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.ProfileShow .ProfileTitle {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 13px;
  color: #fff;
  z-index: 1;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.ProfileShow .ProfileChange {
  font-size: 10px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 20px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
  /*width, height, fontsize, top, right*/
  z-index: 1;
}

.ProfileShow .ProfileChange.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ProfileShow .ProfileImg {
  height: 160px;
  width: 160px;
}

.ProfileShow .ProfileImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}

.ProfileShow .ProfileImg.Grayed img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .5;
}

.ProfileShow .ProfileBg {
  width: 148px;
  height: 148px;
  top: calc(50% - (148px/2));
  left: calc(50% - (148px/2));
  position: absolute;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 0 0 0 300px #000;
          box-shadow: 0 0 0 300px #000;
  opacity: .3;
}

.SelectWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.SelectWrapper > li {
  height: 100%;
}

.SelectWrapper > li:first-child {
  width: 88px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SelectWrapper > li:first-child label {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.SelectWrapper > li:first-child span {
  display: block;
  width: 23px;
  height: 16px;
  background: url("../../src/assets/images/Camera.png") 50% 50%;
  background-size: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.SelectWrapper > li:first-child p {
  font-size: 13px;
  font-weight: 300;
  color: #000;
  margin-top: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.SelectWrapper > li:first-child.On label, .SelectWrapper > li:first-child:hover label {
  background-color: #00b7ff;
}

.SelectWrapper > li:first-child.On span, .SelectWrapper > li:first-child:hover span {
  background: url("../../src/assets/images/Camera_on.png") 50% 50%;
  background-size: 100%;
}

.SelectWrapper > li:first-child.On p, .SelectWrapper > li:first-child:hover p {
  color: #fff;
}

.SelectWrapper > li:last-child {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.SelectWrapper > li:last-child::before {
  content: '';
  display: block;
  width: 1px;
  height: 50px;
  background-color: #e2e2e2;
  margin-top: 10px;
}

.ProfileList {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.ProfileList::-webkit-scrollbar {
  display: none;
}

.ProfileList li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProfileList li label {
  cursor: pointer;
}

.ProfileList li:nth-child(1) .OuterCircle .On {
  border-color: #00b7ff;
}

.ProfileList li:nth-child(1) .OuterCircle:hover {
  border-color: #00b7ff;
}

.ProfileList li:nth-child(1) .OuterCircle .InnerCircle {
  background-color: #00b7ff;
}

.ProfileList li:nth-child(2) .OuterCircle .On {
  border-color: #8ED819;
}

.ProfileList li:nth-child(2) .OuterCircle:hover {
  border-color: #8ED819;
}

.ProfileList li:nth-child(2) .OuterCircle .InnerCircle {
  background-color: #8ED819;
}

.ProfileList li:nth-child(3) .OuterCircle .On {
  border-color: #ff0045;
}

.ProfileList li:nth-child(3) .OuterCircle:hover {
  border-color: #ff0045;
}

.ProfileList li:nth-child(3) .OuterCircle .InnerCircle {
  background-color: #ff0045;
}

.ProfileList li:nth-child(4) .OuterCircle .On {
  border-color: #8d2bf5;
}

.ProfileList li:nth-child(4) .OuterCircle:hover {
  border-color: #8d2bf5;
}

.ProfileList li:nth-child(4) .OuterCircle .InnerCircle {
  background-color: #8d2bf5;
}

.ProfileList li:nth-child(5) .OuterCircle .On {
  border-color: #005ec5;
}

.ProfileList li:nth-child(5) .OuterCircle:hover {
  border-color: #005ec5;
}

.ProfileList li:nth-child(5) .OuterCircle .InnerCircle {
  background-color: #005ec5;
}

.OuterCircle {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
  -webkit-transition: .3s;
  transition: .3s;
}

.OuterCircle .InnerCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.OuterCircle .InnerCircle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .InputList.Sign {
    height: calc(100vh - 393px);
  }
  button.SignStep {
    margin-top: 15px;
  }
  .InputList li.ProfileSection {
    height: 290px;
  }
  .ProfileShow {
    height: 218px;
  }
  .ProfileShow .ProfileImg {
    width: 218px;
    height: 218px;
  }
  .ProfileShow .ProfileBg {
    width: 202px;
    height: 202px;
    top: calc(50% - (202px/2));
    left: calc(50% - (202px/2));
  }
  .ProfileList li {
    min-width: 62px;
  }
  .ProfileList li:first-child {
    margin-left: 8px;
  }
  .ProfileList li:last-child {
    margin-right: 8px;
  }
  ul.MailList li:not(:first-child) {
    padding: 7px 35px;
  }
  ul.MailList p {
    padding: 5px 10px 5px 4px;
  }
  ul.ChooseListUnder {
    height: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=Sign.css.map */