@import "../common";


li.MailList{
    z-index: 1;
}

ul.MailList{
    width: 100%;
    border: 1px solid $black5;
    border-radius: 10px;
    height: 50px;
    transition: height .5s;
    overflow: hidden;
    background-color: $white;
    box-sizing: border-box;

    &:hover{
        border: 1px solid $black1;
    }

    &.On{
        border: 1px solid $blue3;
    }

    li{
        width: 100%;
        cursor: pointer;
        position: relative;

        &:first-child{
            height: 50px;

            &::after{
                content: '';
                display: block;
                height: 1px;
                width: calc(100% - 24px);
                background-color: $black5;
                margin: 0 auto;
            }
        }

        &:not(:first-child){
            height: 21px;
            padding: 8px 36px 2px;
            padding-right: 0;
        }

        &:hover p{
            background-color: $blue3;
            color: $white;
        }

        p{
            width: fit-content;
            padding: 2px 4px;
            border-radius: 4px;
            font-size: 13px;
            color: $black1;
            transition: .2s;
        }
    }

}

.InputMail{
    padding: 15px 37px 17px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 1;

    &.On{
        caret-color: $blue3;
    }
}

.LabelMail{
    position: absolute;
    font-size: 13px;
    line-height: 13px;
    top: 18px;
    left: 16px;
    color: $black5;
    transition: .5s;

    &.On{
        color: $blue3;
    }
}

button.SignStep{
    margin: 30px 0 10px;
}

ul.SignStep1{
    margin-bottom: 80px;
}

.StepSlide{
    width: 100%;
    height: 5px;
    border: 1px solid $black5;
    border-radius: 4px;
    position: relative;

    .Stepbar{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 4px;
        border: none;
        transition: .5s;
        width: 0;
        background-color: $blue3;
    }
}

.InputList li.ProfileSection{
    height: 230px;
    box-sizing: border-box;
}

.ProfileBox{
    height: 100%;
    border: 1px solid $black5;
    border-radius: 10px;
    overflow: hidden;

    &.On{
        border: 1px solid $blue3;
    }
}

.ProfileShow{
    height: 160px;
    background-color: $black5;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: .5s;

    .ProfileTitle{
        position: absolute;
        top: 12px;
        left: 12px;
        font-size: 13px;
        color: $white;
        z-index: 1;
        opacity: 0;
        transition: .3s;
    }

    .ProfileChange{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 48px;
        height: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: $white;
        background-color: $black2;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
        transition: .3s;
    }

    .ProfileImg{
        height: 160px;
        width: 160px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(0);
            transition: .5s;
        }

        &.Grayed img{
            filter: grayscale(100%);
        }
    }

    .ProfileBg{
        position: absolute;
        width: 148px;
        height: 148px;
        border-radius: 50%;
        top: calc(50% - 74px);
        left: calc(50% - 74px);
        background: transparent;
        box-shadow: 0 0 0 300px $black1;
        opacity: .3;
    }
}

.SelectWrapper{
    display: flex;
    height: 70px;

    &>li{
        height: 100%;

        &:first-child{
            width: 88px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            label{
                width: 50px;
                height: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 3px;
                background-color: $white;
                transition: .3s;
            }

            span{
                display: block;
                width: 23px;
                height: 16px;
                background: url("../../src/assets/images/Camera.png") 50% 50%;
                background-size: 100%;
                transition: .3s;
            }

            p{
                font-size: 13px;
                font-weight: 300;
                color: $black1;
                margin-top: 5px;
                transition: .3s;
            }

            &.On, &:hover{

                label{
                    background-color: $blue3;
                }

                span{
                    background: url("../../src/assets/images/Camera_on.png") 50% 50%;
                    background-size: 100%;
                }

                p{
                    color: $white;
                }
                
            }
        }

        &:last-child{
            width: 100%;
            display: flex;
            overflow: hidden;

            &::before{
                content: '';
                display: block;
                width: 1px;
                height: 50px;
                background-color: $black5;
                margin-top: 10px;
            }
        }
        
    }
}

@mixin Circle($color) {
    .OuterCircle{
        .On{
            border-color: $color;
        }
        &:hover{
            border-color: $color;
        }
        .InnerCircle{
            background-color: $color;
        }
    }
}

.ProfileList{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    position: relative;

    &::-webkit-scrollbar{
        display: none;
    }

    li{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        label{
            cursor: pointer;
        }

        &:nth-child(1){
            @include Circle($blue3);
        }
        &:nth-child(2){
            @include Circle($yellow1);
        }
        &:nth-child(3){
            @include Circle($red1);
        }
        &:nth-child(4){
            @include Circle($green1);
        }
        &:nth-child(5){
            @include Circle($blue2);
        }
    }
}

.OuterCircle{
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $black5;
    transition: .3s;

    .InnerCircle{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:768px) {



    button.SignStep1{
        margin: 15px 0 10px;
    }

    .InputList li.ProfileSection{
        height: 290px;
    }

    .ProfileShow{
        height: 218px;
    }

    .ProfileShow .ProfileImg{
        width: 218px;
        height: 218px;
    }

    .ProfileShow .ProfileBg{
        width: 202px;
        height: 202px;
        top: calc(50% - 101px);
        left: calc(50% - 101px);
    }

    .ProfileList li{
        min-width: 62px;

        &:first-child{
            margin-left: 8px;
        }

        &:last-child{
            margin-right: 8px;
        }
    }
}