@import "./mypage";
@import "../Swiper";

@mixin backgroundColor($bg, $hover){
    background-color: $bg;

    &:hover{
        background-color: $hover;
    }
}
div.TopCont h2 a.arrowAfter{
    background: none;
    width: fit-content;
    height: auto;
    color: $black1;
    display: flex;
    align-items: center;

    &::after{
        content: '';
        display: block;
        background: url('/frontend/src/assets/images/IconNavArrow_Big_Rev.png') right/9px 20px no-repeat;
        width: 9px;
        height: 20px;
        margin-left: 20px;
    }
}

section.MypageSentTop{

    .SectionWrap850{
        padding-top: 36px;

        &>p{
            margin-top: 8px;
            font-size: 13px;
            color: $black3;
            font-weight: 400;
            line-height: 20px;
        }
    }
    

    h3{
        font-size: 20px;
        font-weight: 700;
    }
}

.SentContent{
    padding: 45px 0 100px;

    h4{
        font-size: 42px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 50px;

        span{
            color: $blue3;
        }
    }
}

.SentBoxWrap{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.SentBox{
    width: 100%;
    height: 180px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
    transition: 1s;
    padding: 0 32px;
    position: relative;

    &:nth-child(1){
        @include backgroundColor(#0575E6, $blue2);
    }

    &:nth-child(2){
        @include backgroundColor($yellow1, #fcb90d);
    }

    &.Gray{
        @include backgroundColor(#c4c4c4, #707070)
    }

    p{
        color: $white;
        line-height: 1;
        width: 100%;
        text-align: center;
        transition: .5s;

        &:nth-child(1){
            font-size: 48px;
            font-weight: 700;
        }

        &:nth-child(2){
            font-size: 18px;
            font-weight: 500;
            margin-top: 22px;
        }
    }

    .Arrow{
        width: 55px;
        height: 55px;
        background: url('/frontend/src/assets/images/ArrowCircle.png') center/55px 55px;
        position: absolute;
        bottom: calc(50% - 28px);
        right: 65px;
        transition: .5s;
        transition-delay: 0s;
        opacity: 0;
    }

    &:hover{

        p{
            width: 170px;
        }
        
        .Arrow{
            opacity: 1;
            transition-delay: .1s;
        }
    }
}

.MypageSentPost{
    background-color: #F6F7FB;

    h3{
        font-size: 20px;
        font-weight: 700;
        padding: 38px 0 24px;
    }
    
    &.Study, &.WrotePost{
        padding-top: 52px;

        .SectionWrap850{
            border-bottom: 2px solid #D7DAE4;
        }
    }

    &.Study h3{
        color: #0F3FA6;
    }

    &.Hobby{

        h3{
            color: #F7971E;
        }
    }

    &.Accepted{
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 820px) {
    
    div.TopCont h2 a.arrowAfter{
        padding-right: 8px;
        margin: 0;

        &::after{
            background-size: 8px;
            margin-left: 8px;
        }
    }

    .SentContent{
        padding: 45px 0;

        h4{
            font-size: 32px;
        }
    }

    .SentBoxWrap{
        gap: 20px;
    }

    .SentBox{
        height: 86px;
        padding: 0;

        p{

            &:nth-child(1){
                font-size: 32px;
            }

            &:nth-child(2){
                font-size: 13px;
                margin-top: 6px;
            }
        }

        &:hover{
            
            p{
                width: 100%;
            }

            .Arrow{
                opacity: 0;
            }
        }
    }

    .MypageSentPost{
        
        h3{
            padding: 36px 0 20px;
        }

        &.Study{
            padding-top: 24px;
        }
    }
}

@media screen and (max-width: 300px) {


    div.TopCont h2 a.arrowAfter{
        padding-right: 6px;

        &::after{
            margin-left: 6px;
        }
    }

}



/*스와이퍼 카드*/
@mixin button {
    border: none;
    outline: none;
    cursor: pointer;
}

.SwiperCardWrapper{
    position: relative;

    .SwiperBtn{
        width: 74px;
        height: 26px;
        border-radius: 0 0 5px 5px;
        font-size: 12px;
        color: #a8a8a8;
        line-height: 26px;
        padding-left: 12px;
        box-sizing: border-box;
        background: $white url('/frontend/src/assets/images/SwiperArrow.png') center right 10px/10px no-repeat;
        cursor: pointer;
        margin-left: calc(100% - 116px);
    }
}

.PostCard.Swiper{
    padding: 0;
    height: auto;
    flex-direction: column;
    transition: height .5s, border .2s;
    cursor: default;

    &.On{
        height: auto;

        & ~ .SwiperBtn{
            background-image: url('/frontend/src/assets/images/SwiperArrowReverse.png');
        }

        & ~ .ButtonNext, & ~ .ButtonPrev{
            opacity: 1;
            transition-delay: .2s;
        }

        .SwiperCardTop{
            border-bottom: 1px solid #e2e2e2;
        }
    }

    .SwiperCardTop{
        width: 100%;
        min-height: 94px;
        display: flex;
        align-items: center;
        position: relative;
        padding: 14px 0;
        box-sizing: border-box;
    }

    .PostCardHead{
        min-width: 262px;
        border: none;
        align-items: center;

        .TextBox{
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p{

                &.Dday{
                    font-size: 20px;
                    margin: 0;
                }

                &.PostDate{
                    font-size: 12px;
                    color: #868686;
                    margin-top: 10px;
                }
            }
        }

        .DetailBox{
            min-width: 158px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 24px;
            box-sizing: border-box;
            border-left: 1px solid #A8A8A8;
            border-right: 1px solid #a8a8a8;

            p{
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 7px;
                white-space: nowrap;

                span{
                    font-weight: 500;
                }
            }

            button{
                @include button();
                width: 100%;
                height: 30px;
                border-radius: 5px;
                color: $white;
                font-size: 13px;
                font-weight: 500;
                transition: .3s;
                @include backgroundColor(#00B7FF, #00A3E3);
            }
        }
    }

    .PostCardBody{
        padding-left: 24px;
        position: relative;

        .TextBox{

            .TitleBox{
                h5{
                    width:calc(100% - 220px);
                    margin-top: 4px;
                }
            }

            .TextList{
                margin-top: 22px;
            }
        }

        .ButtonBox{
            flex-direction: column;
            justify-content: space-between;
            min-width: auto;
            height: 100%;
            position: absolute;
            top: 0;
            right: 175px;
            border: none;
            gap: 4px;

            button{
                width: 30px;
                height: 30px;
                border-radius: 5px;
                background-color: #c4c4c4;

                &.Set{
                    text-indent: -9999px;
                    background: #c4c4c4 url('/frontend/src/assets/images/SettingWhite.png') center/16px no-repeat;
                    background-position: center;
                }
            }
        }

        @mixin CardRight{
            min-width: 160px;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-left: 1px solid #a8a8a8;

            @media screen and (max-width: 820px) {
                border: none;
                min-width: auto;
                height: auto;
                top: inherit;
                bottom: 0;
            }
        }

        p.Waiting{
            @include CardRight();
            flex-direction: column;
            justify-content: space-between;
            padding: 2px 0;
            font-size: 15px;
            color: #a8a8a8;
            font-weight: 700;

            em{
                font-size: 32px;
                color: $blue3;
            }
        }

        .RightBtnBox{
            @include CardRight();
            justify-content: center;

            button{
                @include button();
                width: 100px;
                height: 50px;
                border-radius: 10px;
                color: $white;
                font-size: 15px;
                transition: .3s;

                &.ClosePost{
                    @include backgroundColor(#c4c4c4, #b0b0b0);
                }

                &.Deadline{
                    @include backgroundColor(#00b7ff, #00A3E3);
                }

                &.Cancel{
                    @include backgroundColor(#F95884, #E9416E);
                }
            }
        }
    }

    .SwiperCardBottom{
        width: 100%;
        height: 0;
        overflow-y: hidden;
        background-color: $white;
        transition: .5s;
        border-radius: 0 0 10px 10px;

        .BtTop{
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 26px 12px 16px;
            box-sizing: border-box;

            p{
                font-size: 18px;
                font-weight: 700;
                color: #a8a8a8;

                em{
                    color: $blue3 ;
                }
            }

            button{
                @include button();
                @include backgroundColor(#868686, #747474);
                width: 110px;
                height: 30px;
                border-radius: 5px;
                color: $white;
                font-size: 13px;
                transition: .3s;
            }
        }
    }

    &.Accepted{

        .PostCardHead{
            margin-left: 16px;
            
            .ProfileBox{
                margin-right: 13px;
            }

            .TextBox{
                min-width: 120px;
                display: block;
                margin-right: 12px;
            }
        }

        .PostCardBody{
            width: calc(100% - 406px);

            .TextBox{

                .TitleBox{

                    h5{
                        width: calc(100% - 176px);
                    }
                }
            }
        }
    }
}


.BtSwiper{
    margin-bottom: 14px;
    overflow: hidden;

    .CardSwiper{
        margin: 0 16px;

        &>ul>li{
            width: 300px;
        }
    }   
}

.ButtonPrev, .ButtonNext{
    position: absolute;
    width: 62px;
    height: 62px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    top: calc(50% - 31px);
    z-index: 1;
    cursor: pointer;
    background-size: 10px !important;
    background-color: $white !important;
    opacity: 0;
    transition: .5s;

    &.swiper-button-disabled{
        opacity: 0 !important;
        cursor: default;
    }
}

.ButtonPrev{
    left: -84px;
    background: url("/frontend/src/assets/images/SlideArrowPrev.png") no-repeat 50% 50%;
}

.ButtonNext{
    right: -84px;
    background: url("/frontend/src/assets/images/SlideArrowNext.png") no-repeat 50% 50%;
}

.SwiperCard{
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
}

.SwiperCardHead{
    padding: 27px 18px 18px 21px;
    box-sizing: border-box;
    height: 114px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    gap: 13px;

    .CardProfile{
        min-width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #8d2bf5;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .CardTxt{

        h4{
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        p{
            font-size: 13px;
            font-weight: 400;
            color: $blue3;
            line-height: 20px;

            &.gray{
                color: $black4;
            }
        }
    }
}

.SwiperCardBody{
    padding: 0 20px 18px;

    h5{
        margin: 20px 0 12px;
        font-size: 13px;
        font-weight: 500;
        color: $black4;
    }

    .IntList{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        li{
            width: fit-content;
            padding: 4px 16px;
            font-size: 13px;
            font-weight: 300;
            color: $white;
            border-radius: 13px;
        }

        &.Study li{
            background-color: #0F3FA6;
        }

        &.Hobby li{
            background-color: #F7971E;
        }
    }
}

.SwiperSlideBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-top: 14px;

    p{
        font-size: 13px;
        color: #868686;
        margin-left: 16px;
    }

    .BtnWrapper{
        height: 100%;
        display: flex;
        gap: 8px;

        button{
            @include button();
            border-radius: 5px;
            color: $white;
            font-size: 13px;
            transition: .3s;

            &.BtnChat{
                background: #c4c4c4 url("/frontend/src/assets/images/ChatWhite.png") center/20px no-repeat;
                text-indent: -9999px;
                width: 30px;

                &:hover{
                    background-color: #B0B0B0;
                }
            }

            &.BtnColor{
                width: 50px;

                &.Nega{
                    @include backgroundColor(#F95884, #E9416E);
                }

                &.Posi{
                    @include backgroundColor(#00B7FF, #00A3E3);
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {

    .SwiperCardWrapper{
        .SwiperBtn{
            margin-left: calc(100% - 84px);
        }
    }

    .PostCard.Swiper{

        &.On p.Waiting{
            display: none;
        }

        .SwiperCardTop{
            min-height: 146px;
            align-items: flex-start;
            flex-direction: column;
            padding: 12px 10px 16px 10px;
        }
    
        .PostCardHead{
            min-width: 100%;
            height: 30px;

            .TextBox{
                align-items: flex-start;

                p{

                    &.Dday{
                        text-align: left;
                        font-size: 18px;
                    }

                    &.PostDate{
                        display: none;
                    }
                }
            }

            .DetailBox{
                flex-direction: row;
                border: none;
                min-width: auto;
                height: auto;
                padding: 0;
                gap: 12px;
                align-items: center;

                p{
                    margin: 0;
                }

                button{
                    width: 74px;
                }
            }
        }

        .PostCardBody{
            padding: 0;

            .TextBox{
                position: relative;

                .TitleBox{
                    height: 36px;

                    h5{
                        width: calc(100% - 83px);
                        margin-top: 0;
                        white-space: normal;
                        line-height: 20px;
                    }
                }
            }

            .ButtonBox{
                display: flex;
                flex-direction: row;
                right: 0;
                top: 18px;
                padding: 0;
                gap: 8px;
            }

            p.Waiting{
                flex-direction: row;
                align-items: center;
                font-size: 13px;
                font-weight: 500;
                padding: 0;

                em{
                    font-size: 14px;
                    font-weight: 700;
                    margin-left: 3px;
                }
            }

            .RightBtnBox{
                bottom: -2px;

                button{
                    width: 74px;
                    height: 30px;
                    border-radius: 5px;
                    font-size: 13px;

                    span{
                        display: none;
                    }
                }
            }
        }

        .SwiperCardBottom{

            .BtTop{
                padding: 12px 10px;
            }
        }

        &.Accepted{

            .PostCardHead{
                margin: 0;

                .ProfileBox{
                    display: block;
                    min-width: 30px;
                    height: 30px;
                    margin-left: 0;
                }

                .TextBox{
                    min-width: auto;

                    p{
                        line-height: 30px;

                        &:not(:nth-child(1)){
                            display: none;
                        }
                    }
                }

                .DetailBox p span{
                    display: none;
                }
            }

            .PostCardBody{
                width: 100%;

                .TextBox .TitleBox h5{
                    width: 100%;
                }
            }
        }
    }
    
    .BtSwiper{

        .CardSwiper{
            margin: 0 10px;

            &>ul>li{
                width: calc(100% - 80px);
            }
        }
    }

    .SwiperCardHead{
        height: 100px;
        padding: 12px;
        position: relative;

        .CardProfile{
            position: absolute;
            min-width: 24px;
            height: 24px;
        }

        .CardTxt{

            h4{
                margin: 0 0 10px 36px;
                line-height: 25px;
            }
        }
    }

    .SwiperCardBody{
        padding: 0 12px 12px;

        .IntList{
            
            li{
                padding: 3px 8px;
            }
        }
    }

    .SwiperSlideBtn{

        p{
            margin-left: 8px;
        }

        .BtnWrapper{
            gap: 4px;
        }
    }
}

@media screen and (max-width: 300px) {
    .PostCard.Swiper .PostCardHead .TextBox p.Dday{
        font-size: 16px;
    }

    .PostCard.Swiper .PostCardHead .DetailBox{
        gap: 8px;

        p{
            font-size: 13px;
        }
    } 

    .BtSwiper .CardSwiper > ul > li{
        width: calc(100% - 20px);
    }
}