@import "./style";

*{
    scroll-behavior: smooth;
}
body{
    overflow-y: overlay;
}
@mixin modalBox($padding, $width) {
    padding: 0 $padding;
    width: $width;
    background-color: $white;
    box-sizing: border-box;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    color: $black3;
}

body.Modal {
    height: 100vh;
    overflow: hidden;
}

.ModalWrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.Modal{

        .ModalBg{
            opacity: .5;
        }

        .ModalBox{
            opacity: 1;
        }
    }
}

.ModalBg {
    background-color: #000;
    opacity: 0;
    transition: opacity 1s;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.ModalBox{
    @include modalBox(40px, 534px);
    border-radius: 20px;
    height: 685px;
    box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.16);
}

.ModalTop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 48px;
    height: 18px;

    .ModalClose {
        display: block;
        width: 14px;
        height: 14px;
        background: url('../../src/assets/images/ModalClose.png');
        background-size: 100%;
        cursor: pointer;
        margin-right: 10px;
    }

    .ModalArrow{
        font-size: 18px;
        color: $black3;
        cursor: pointer;
        line-height: 1;
        font-weight: 300;

        img{
            width: 8px;
            margin-right: 15px;
        }
    }
}



.ModalTitle{
    display: flex;
    padding-bottom: 10px;

    li{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        transition: .5s;
        height: 45px;

        &.On{
            font-size: 32px;
            color: #000;
            font-weight: 700;
            cursor: default;
        }
    }
}



.ModalContents{
    opacity: 0;
    transition: .5s;

    &.On{
        opacity: 1;
    }
}

.InputList{
    padding: 25px 0 20px;
}

.ListFlex{
    display: flex;
    
    li{
        width: 100%;
        margin-right: 16px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.SubList{
    margin: 30px 0 58px;
    display: flex;

    li{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-weight: 300;
        color: $black3;
    }
}

p.SnsTitle {
    margin: 58px auto 30px;
    font-size: 13px;
    color: #000;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;

    &::before, &::after{
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: $black5;
    }

    &::before{
        margin-right: 11px;
    }

    &::after{
        margin-left: 11px;
    }
}

.SnsList{
    display: flex;
    padding-bottom: 80px;

    li{
        width: 100%;
        margin-right: 16px;

        &:last-child{
            margin: 0;
        }
    }
}

@mixin DropdownInput($fontsize, $color){
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: $fontsize;
    line-height: 1;
    color: $color;
}

.ChooseTitle {
    @include DropdownInput(16px, $black4); /*fontsize, color*/
    height: 50px;
    font-weight: 300;
    padding: 8px 4px 8px 12px;
    transition: .5s;
    cursor: pointer;
}

@mixin Choose{
    width: fit-content;
    padding: 4px 6px 4px 6px;
    border-radius: 12px;
    font-size: 13px;
    line-height: 14px;
    color: $black1;
    transition: .2s;
    position: relative;
    white-space: nowrap;
    user-select: none;
}

@mixin ChooseOn{
    background-color: $blue3 !important;
    color: $white;
    padding-right: 26px;

    .ChooseCancel{
        display: block;
    }
}

.Choose {
    @include Choose;
}

.ChooseUnder{
    @include Choose;
    @include ChooseOn;
    cursor: pointer;
}

.InputChoose:checked ~ .LabelChoose .Choose{
    @include ChooseOn;
}

ul.InputList.SignStep3 li.ChooseList{
    height: auto;
    margin-bottom: 25px;
}

.LabelChoose {
    display: block;
    width: 100%;
    cursor: pointer;
    height: 21px;
    padding: 4px 6px 2px;
    padding-right: 0;
    
    &:hover p{
        background-color: $black5;
    }
}

ul.ChooseListDetail{
    width: 100%;
    border: 1px solid $black5;
    border-radius: 10px;
    height: 50px;
    transition: height .3s;
    overflow: hidden;
    background-color: $white;
    box-sizing: border-box;

    &:hover{
        border: 1px solid $blue3;
    }

    &.On{
        border: 1px solid $blue3;
    }

    li{
        width: 100%;
        position: relative;

        &:first-child{
            height: 50px;

            &::after{
                content: '';
                display: block;
                height: 1px;
                width: calc(100% - 24px);
                background-color: $black5;
                margin: 0 auto;
            }
        }
    }
    
}

ul.ChooseListUnder{
    margin-top: 4px;
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    flex-wrap: wrap;
    display: none;
    
    li{
        margin-left: 8px;
        margin-top: 6px;
    }

    &::-webkit-scrollbar{
        display: none;
    }
}


.ChooseCancel{
    @include InputButton(10px, 10px, 6px, 10px); /*width,heigh,top,right*/
    background: url("../../src/assets/images/CloseWhite.png") 50% 50%;
    background-size: 100%;
    cursor: default;
}

.ChooseComplete{
    @include InputTextButton(36px, 20px, 13px, 8px, 8px); /*width, height, fontsize, top, right*/
    background-color: $black5;
    transition: .3s;
    display: flex;

    &:hover{
        background-color: $blue3;
    }

    &.On{
        background-color: $blue3;
    }
}

main{
    margin-left: 142px;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media screen and (max-width:820px) {

    body.Modal, .ModalWrapper, .ModalBg{
        height: 100%;
    }
    .ModalWrapper.Modal .ModalBox{
        margin-top: 40px;
        height: calc(100% - 40px);
        position: fixed;
        bottom: 0;
    }

    .ModalBox{
        padding: 0 20px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 0;
        margin-top: 100vh;
    }
    
    .InputList{
        padding-top: 25px;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    .ModalTop{
        margin-top: 40px;
        margin-bottom: 45px;

        .ModalClose{
            margin-right: 0;
        }
    }

    .ModalBody{
        height: calc(100vh - 194px);
    }

    .ModalBody::-webkit-scrollbar{
        display: none;
    }


    .SnsList li{
        margin-right: 10px;
    }

    .ListFlex li{
        margin-right: 10px;
    }

    ul.ChooseListDetail{

        li:not(:first-child){
            padding: 8px 0;
        }
    }

    .ChooseComplete{
        top: 12px;
        width: 40px;
        height: 24px;
        border-radius: 12px;
    }

    main{
        width: 100%;
        padding: 60px 0 70px;
        margin: 0;
    }
}

.ScrollButton{
    position: fixed;
    width: 45px;
    height: 110px;
    right: 45px;
    bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9;

    .ScrollTop, .ScrollBottom{
        width: 45px;
        height: 45px;
        background-size: 100% !important;
        cursor: pointer;
        opacity: 1;
        transition: .3s;

        &.Disable{
            opacity: .3;
            cursor: default;
        }
    }

    .ScrollTop{
        background: url("/frontend/src/assets/images/ButtonScrollTop.png");
    }

    .ScrollBottom{
        background: url("/frontend/src/assets/images/ButtonScrollBottom.png");
    }
}

.MainTop{
    height: 400px;
    background-color: $blue2;
    position: relative;
    overflow: hidden;

    .ButtonIntro{
        width: 45px;
        height: 45px;
        background: url("/frontend/src/assets/images/IconLinkIntro.png") 50% 50%;
        background-size: 100% !important;
        cursor: pointer;
        position: absolute;
        top: 63px;
        right: 45px;
        opacity: .5;
        transition: .3s;

        &:hover{
            opacity: 1;
        }
    }
}

.TopCont{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>img{
        width: 70px;
        margin: 66px auto 20px;
    }

    h2{
        font-size: 48px;
        color: $white;
        font-weight: 700;
        line-height: 60px;
    }
    
    h3{
        font-size: 20px;
        color: $white;
        font-weight: 300;
        line-height: 36px;
    }

    .InputWrapper{
        width: 506px;
        height: 50px;
        border: 1px solid $black5;
        border-radius: 25px;
        box-sizing: border-box;
        margin-top: 25px;
        overflow: hidden;
        background-color: $white;
        display: flex;
        align-items: center;

        img{
            width: 26px;
            height: 26px;
            margin-left: 18px;
            margin-bottom: 4px;
        }

        input{
            width: calc(100% - 76px);
            height: 100%;
            border: none;
            outline: none;
            margin-left: 14px;
            font-size: 13px;
            font-weight: 400;

            &::placeholder{
                color: $black4;
            }
        }
    }
}

@media screen and (max-width:820px){

    .ScrollButton{
        display: none;
    }

    .MainTop{
        height: 240px;

        .ButtonIntro{
            width: 24px;
            height: 24px;
            top: 17px;
            right: 20px;
            opacity: 1;
        }
    }

    .TopCont{
        width: calc(100vw - 40px);
        left: 50%;
        transform: translateX(-50%);

        &>img{
            width: 42px;
            margin: 38px auto 12px;
        }

        h2{
            font-size: 28px;
            line-height: 36px;
        }

        h3{
            font-size: 13px;
            line-height: 26px;
        }

        .InputWrapper{
            width: calc(100vw - 40px);
            height: 36px;
            border-radius: 18px;
            margin-top: 32px;

            img{
                width: 24px;
                height: 24px;
                margin-left: 12px;
            }

            input{
                width: calc(100% - 65px);
                font-size: 12px;
                margin-left: 12px;
            }
        }
    }
}

@media screen and (max-width:300px){

    .MainTop .ButtonIntro{
        right: 10px;
    }

    .TopCont{
        
        h2, h3{
            text-align: center;
            word-break: keep-all;
        }

        h2{
            font-size: 22px;
            line-height: 30px;
        }

        h3{
            font-size: 12px;
            line-height: 24px;
        }

        &>img{
            margin-top: 50px;
        }
    }
}

.SectionWrap850{
    max-width: 850px;
    margin: auto;
    position: relative;
}

@media screen and (max-width:820px){
    .SectionWrap850{
        padding: 0 20px;
    }
}

@media screen and (max-width:300px){
    .SectionWrap850{
        padding: 0 10px;
    }
}

.PaginationWrapper{
    display: flex;
    justify-content: space-between;
    width: 598px;
    padding: 48px 0 64px;
    margin: 0 auto;

    div{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        color: $black1;
        border: 1px solid transparent;
        transition: .2s;
        cursor: pointer;

        &:hover{
            border-color: $black4;
        }

        &.On{
            background-color: $blue3;
            color: $white;
            border-color: transparent;
            cursor: default;
        }

        @mixin PageArrow($bs, $bp) {
            background-repeat: no-repeat;
            background-size: $bs;
            background-position: $bp;
        }

        &.Prev2{
            @include PageArrow(13px, 9px);
            background-image: url("/frontend/src/assets/images/PageArrow2Prev.png");
        }
        
        &.Prev{
            @include PageArrow(6px, 12px);
            background-image: url("/frontend/src/assets/images/PageArrowPrev.png");
        }

        &.Next{
            @include PageArrow(6px, 14px);
            background-image: url("/frontend/src/assets/images/PageArrowNext.png");
        }

        &.Next2{
            @include PageArrow(13px, 10px);
            background-image: url("/frontend/src/assets/images/PageArrow2Next.png");
        }
    }
}

@media screen and (max-width:820px) {
    
    .PaginationWrapper{
        width: 100%;
        padding: 28px 0 80px;

        div{
            width: 24px;
            height: 24px;
            font-size: 13px;

            &.Prev, &.Next, &.Prev2, &.Next2{
                background-position: center;
            }
        }
    }
}