@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Regular'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../src/assets/fonts/SpoqaHanSansNeo-Light.otf') format('opentype');
}
