@charset "UTF-8";
/*색상 변수*/
/*reset*/
* {
  margin: 0;
  padding: 0;
  font-family: 'SUIT', 'sans-serif';
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #868686;
}

em {
  font-style: normal;
}

/*button*/
.ButtonFull {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  line-height: 26px;
  /*padding, font-size, font-weight, line-height, border-radius*/
  background-color: #001881;
  height: 50px;
  color: #fff;
}

.ButtonFull:hover {
  background-color: #005ec5;
}

.ButtonFull.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonFull.Disable:hover {
  background-color: #e2e2e2;
}

.ButtonFull2 {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 25px;
  line-height: 16px;
  background-color: #005ec5;
  height: 50px;
  color: #fff;
  padding-left: 26px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ButtonFull2:hover {
  background-color: #00b7ff;
}

.ButtonFull2.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonFull2.Disable:hover {
  background-color: #e2e2e2;
}

.ButtonFull2 span {
  background-size: 100% !important;
  width: 6px;
  height: 12px;
}

.ButtonFull2 span {
  background: url("../../src/assets/images/ButtonArrow.png") 50% 50% no-repeat;
}

.ButtonFull2Ghost {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 25px;
  line-height: 16px;
  background-color: #fff;
  height: 50px;
  color: #fff;
  padding-left: 26px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e2e2e2;
  color: #868686;
}

.ButtonFull2Ghost:hover {
  background-color: #fff;
}

.ButtonFull2Ghost.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonFull2Ghost.Disable:hover {
  background-color: #e2e2e2;
}

.ButtonFull2Ghost span {
  background-size: 100% !important;
  width: 6px;
  height: 12px;
}

.ButtonFull2Ghost:hover {
  border: 1px solid #a8a8a8;
}

.ButtonFull2Ghost span {
  background: url("../../src/assets/images/ButtonArrowGhost.png") 50% 50% no-repeat;
}

@media screen and (max-width: 768px) {
  .ButtonFull2, .ButtonFull2Ghost {
    padding: 8px 0;
    height: 30px;
    font-size: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ButtonFull2 span, .ButtonFull2Ghost span {
    display: none;
  }
}

.ButtonFullSmall {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 6px;
  line-height: 20px;
  /*padding, font-size, font-weight, line-height, border-radius*/
  background-color: #001881;
  height: 40px;
  color: #fff;
}

.ButtonFullSmall:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.ButtonFullSmall.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonSns {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 6px;
  line-height: 20px;
  /*padding, font-size, font-weight, line-height, border-radius*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.05em;
  height: 40px;
}

.ButtonSns:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.ButtonSns.Kakao {
  background-color: #fee500;
  font-weight: 400;
}

.ButtonSns.Kakao img {
  width: 13px;
  margin-right: 4px;
  margin-top: 2px;
}

.ButtonSns.Naver {
  background-color: #03c75a;
  color: #fff;
}

.ButtonSns.Naver img {
  width: 10px;
  margin-right: 6px;
}

/*input*/
ul.InputList > li {
  position: relative;
  height: 75px;
  -webkit-transition: .3s;
  transition: .3s;
}

.InputFull {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  outline: none;
  padding: 16px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
}

.InputFull:hover {
  border: 1px solid #707070;
}

.InputFull.On {
  border: 1px solid #00b7ff;
  caret-color: #00b7ff;
}

.InputFull.Error {
  border: 1px solid #ff0045;
  caret-color: #ff0045;
}

.LabelFull {
  position: absolute;
  left: 8px;
  top: 13px;
  font-size: 13px;
  font-weight: 300;
  padding: 0 4px 0 7px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  line-height: 24px;
  color: #a8a8a8;
}

.LabelFull.On {
  top: -12px;
  color: #00b7ff;
  font-size: 13px;
  font-weight: 500;
}

.LabelFull.Error {
  top: -12px;
  color: #ff0045;
  font-size: 13px;
  font-weight: 500;
}

.LabelAttached {
  position: absolute;
  left: 8px;
  top: 13px;
  font-size: 13px;
  font-weight: 300;
  padding: 0 4px 0 7px;
  -webkit-transition: .5s;
  transition: .5s;
  line-height: 24px;
  color: #a8a8a8;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.LabelAttached.On {
  color: #707070;
}

.InputTxt {
  font-size: 10px;
  text-align: center;
  font-weight: 300;
  position: absolute;
  width: 100%;
  top: 50px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.InputTxt.On {
  color: #00b7ff;
  opacity: 1;
  top: 54px;
}

.InputTxt.Error {
  color: #ff0045;
  opacity: 1;
  top: 54px;
}

.InputDel {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 16px;
  right: 15px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/InputDel.png");
  background-size: 100%;
}

.InputDel.On {
  display: block;
}

.PasswordShow {
  width: 25px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 17px;
  right: 48px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/PasswordShow.png");
  background-size: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.PasswordShow.Over {
  display: block;
}

.PasswordShow.On {
  background: url("../../src/assets/images/PasswordShow_On.png");
  background-size: 100%;
}

.PasswordShow.Error {
  background: url("../../src/assets/images/PasswordShow_Error.png");
  background-size: 100%;
  display: block;
}

.InputDouble {
  font-size: 10px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 20px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 15px;
  right: 48px;
  cursor: pointer;
  /*width, height, fontsize, top, right*/
}

.InputDouble.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.InputAdd {
  font-size: 10px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 20px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 15px;
  right: 15px;
  cursor: pointer;
  /*width, height, fontsize, top, right*/
}

.InputAdd.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.InputAdd.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.InputChecked {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 15px;
  right: 48px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/Checked_on.png");
  background-size: 100%;
  cursor: default;
}

.InputChecked.On {
  display: block;
}

.InputHide {
  /*로그인 상태 유지*/
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  display: none;
}

.InputHide ~ .LabelCheck {
  /*로그인 상태 유지*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 21px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.InputHide ~ .LabelCheck span {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url("../../src/assets/images/LogInCheck_off.png");
  background-size: 100%;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.InputHide:checked ~ .LabelCheck span {
  background: url("../../src/assets/images/LogInCheck_on.png");
  background-size: 100%;
}

.CardPost {
  width: 100%;
  background-color: #fff;
  border-radius: 2px 2px 15px 15px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.CardPost.Study {
  border-top: 6px solid #005ec5;
}

.CardPost.Study .CardTag.Color {
  background-color: #005ec5;
}

.CardPost.Hobby {
  border-top: 6px solid #F7971E;
}

.CardPost.Hobby .CardTag.Color {
  background-color: #F7971E;
}

.CardPost p {
  font-size: 10px;
  font-weight: 400;
  color: #868686;
}

.CardHead {
  padding: 10px 12px 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CardHead h5 {
  font-size: 13px;
  font-weight: 700;
}

.CardHead .CardHeadRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CardHead .CardHeadRight p {
  margin-left: 10px;
}

.CardHead .CardHeadRight .Star {
  width: 24px;
  height: 24px;
  background: url("../../src/assets/images/StarOff.png") 50% 50% no-repeat;
  background-size: 20px !important;
  cursor: pointer;
  margin-left: 10px;
}

.CardHead .CardHeadRight .Star.On {
  background: url("../../src/assets/images/StarOn.png") 50% 50% no-repeat;
}

.CardBody {
  height: 82px;
  padding: 10px 12px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CardBody .CardProfile {
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #8d2bf5;
}

.CardBody .CardProfile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.CardBody .CardTxt {
  width: 100%;
  margin-left: 15px;
}

.CardBody .CardTxt h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 18px;
}

.CardFooter {
  padding: 10px 12px 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CardFooter .CardTag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 8px;
  border-radius: 13px;
  background-color: #a8a8a8;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  font-weight: 300;
}

.CardFooter .CardTag:not(:last-child) {
  margin-right: 8px;
}

.CardEmpty {
  height: 120px;
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
}

.CardEmpty .CardAdd {
  min-width: 52px;
  height: 52px;
}

.CardEmpty p {
  font-size: 20px;
  font-weight: 500;
  color: #a8a8a8;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .CardHead {
    padding: 10px 5px 10px 15px;
  }
  .CardHead .CardHeadRight p:nth-child(1) {
    display: none;
  }
  .CardHead .CardHeadRight .Star {
    margin-left: 18px;
  }
  .CardBody {
    padding: 0 5px 0 15px;
    height: 64px;
  }
  .CardFooter {
    padding: 5px 5px 5px 5px;
  }
  .CardFooter .CardTag {
    font-size: 10px;
    line-height: 1;
    border-radius: 12px;
    padding: 7px 8px;
  }
  .CardFooter .CardTag:not(:last-child) {
    margin-right: 4px;
  }
  .CardEmpty {
    height: 82px;
  }
  .CardEmpty .CardAdd {
    min-width: 34px;
    height: 34px;
  }
  .CardEmpty p {
    font-size: 15px;
    margin-left: 16px;
  }
}

.PostCard {
  height: 94px;
  background-color: #fff;
  border-radius: 10px;
  padding: 16px 22px 16px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid transparent;
  cursor: pointer;
}

.PostCard:hover {
  border-color: #a8a8a8;
}

.PostCard.Disable .PostCardHead .TextBox .Dday, .PostCard.Disable .PostCardBody .TextBox .TitleBox h5, .PostCard.Disable .PostCardBody .TextBox .TextList .Category {
  color: #a8a8a8;
}

.PostCard.Disable .PostCardBody .ButtonBox button.Participate {
  background-color: #f0f0f0;
  cursor: default;
}

.PostCardHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 204px;
  height: 100%;
  border-right: 1px solid #a8a8a8;
}

.PostCardHead .ProfileBox {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #8d2bf5;
  overflow: hidden;
}

.PostCardHead .ProfileBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.PostCardHead .TextBox {
  width: 100%;
  height: 100%;
  padding: 0 14px;
}

.PostCardHead .TextBox .Dday {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 700;
  color: #00b7ff;
  text-align: right;
}

.PostCardHead .TextBox .Date {
  margin-top: 2px;
  font-size: 10px;
  font-weight: 300;
  color: #868686;
}

.PostCardHead .TextBox .Name {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.PostCardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

.PostCardBody .TextBox {
  width: 100%;
  height: 100%;
}

.PostCardBody .TextBox .TitleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
}

.PostCardBody .TextBox .TitleBox h5 {
  width: 323px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.PostCardBody .TextBox .TitleBox .Star {
  width: 24px;
  height: 24px;
  background: url("../../src/assets/images/StarOff.png") 50% 50% no-repeat;
  background-size: 20px !important;
  cursor: pointer;
  margin-left: 10px;
}

.PostCardBody .TextBox .TitleBox .Star.On {
  background: url("../../src/assets/images/StarOn.png") 50% 50% no-repeat;
}

.PostCardBody .TextBox .TextList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}

.PostCardBody .TextBox .TextList p {
  font-size: 13px;
  font-weight: 400;
}

.PostCardBody .TextBox .TextList p:not(:last-child) {
  margin-right: 20px;
}

.PostCardBody .TextBox .TextList .Category {
  font-weight: 700;
}

.PostCardBody .TextBox .TextList .Category.Study {
  color: #005ec5;
}

.PostCardBody .TextBox .TextList .Category.Hobby {
  color: #F7971E;
}

.PostCardBody .ButtonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 214px;
  height: 50px;
}

.PostCardBody .ButtonBox button {
  width: 100px;
  height: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.PostCardBody .ButtonBox button.Detail {
  background-color: #c4c4c4;
}

.PostCardBody .ButtonBox button.Participate {
  background-color: #00b7ff;
}

@media screen and (max-width: 768px) {
  .PostCard {
    height: 108px;
    padding: 10px 44px 14px 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .PostCardHead {
    width: 100%;
    height: 16px;
    border: none;
  }
  .PostCardHead .ProfileBox {
    display: none;
  }
  .PostCardHead .TextBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .PostCardHead .TextBox p.Dday, .PostCardHead .TextBox p.Date, .PostCardHead .TextBox p.Name {
    margin: 0;
  }
  .PostCardHead .TextBox p.Dday {
    margin-right: auto;
  }
  .PostCardHead .TextBox p.Date {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 14px;
  }
  .PostCardHead .TextBox p.Name {
    font-size: 10px;
    font-weight: 300;
    color: #868686;
  }
  .PostCardBody {
    padding: 0;
  }
  .PostCardBody .TextBox .TitleBox {
    margin-top: 18px;
  }
  .PostCardBody .TextBox .TitleBox h5 {
    font-size: 13px;
    min-width: calc(100vw - 64px);
  }
  .PostCardBody .TextBox .TitleBox .Star {
    position: absolute;
    top: 6px;
    right: 10px;
  }
  .PostCardBody .TextBox .TextList {
    margin-top: 17px;
  }
  .PostCardBody .TextBox .TextList p:not(:last-child) {
    margin-right: 12px;
  }
  .PostCardBody .ButtonBox {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */