@import "../common";

*{
    scroll-behavior: smooth;
}

.MainTop{
    background: linear-gradient(180deg, #008BE2 0%, #0F3FA6 100%);

    .TopCont{

        h2{
            margin-top: 102px;
        }
    
        h3{
            margin-top: 12px;
        }
    
        .InputWrapper{
            margin-top: 32px;
        }
    }

    .TopBgCharacter{
        position: absolute;
        max-width: 1075px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        mix-blend-mode: soft-light;
        background-image: url("/frontend/src/assets/images/Profile1.png"), url("/frontend/src/assets/images/Profile3.png");
        background-size: 400px 400px;
        background-repeat: no-repeat;
        background-position: left, right;
    }
}


.PostList{
    background-color: #F6F7FB;
    padding-bottom: 80px;

    h4{
        padding-top: 174px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        color: $black1;
    }

    p{
        font-size: 13px;
        font-weight: 300;
        color: $black3;
    }
}

.SectionWrap850{
    max-width: 850px;
    margin: auto;
    position: relative;
}

.FilterWrapper{
    position: absolute;
    top: -42px;
    width: 100%;
    max-width: 850px;
    padding: 20px 10px 34px 25px;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    z-index: 1;

    &.Fixed{
        position: fixed;
        top: 10px;
    }

    button{
        width: 120px;
        height: 30px;
        font-size: 14px;
        padding: 0;
        position: absolute;
        bottom: -15px;
        left: calc(50% - 60px);
        justify-self:end;
    }
}

.FliterListWrapper{
    display: flex;
}

.FilterPostBox, .FilterCategoryBox{
    display: inline-block;
    height: 60px;
}

.FilterPostBox{
    width: 328px;
    border-right: 1px solid $black5;

    .FilterLabel{
        width: 88px;
    }
}

.FilterCategoryBox{
    width: calc(100% - 375px);
    padding-left: 42px;

    .FilterLabel {
        width: fit-content;
        padding: 0 16px;
    }
}

.FilterList{
    display: flex;
    flex-wrap: wrap;

    li{
        margin-right: 8px;
        margin-bottom: 14px;
    }
}

@mixin filtercheck($bg) {
    background-color: $bg;
    border-color: transparent;
    color: $white;
}

.FilterInput:checked ~ .FilterLabel{

    &.Common{
        @include filtercheck($blue3);
    }

    &.Study{
        @include filtercheck($blue1);
    }

    &.Hobby{
        @include filtercheck($yellow2);
    }
}

.FilterLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    border: 1px solid $black5;
    border-radius: 14px;
    font-size: 12px;
    font-weight: 500;
    color: $black3;
    cursor: pointer;
    transition: .2s;
    box-sizing: border-box;

    &:hover{

        &.Common{
            border-color: $black1;
            color: $black1;
        }

        &.Study{
            border-color: $blue1;
            color: $blue1;
        }

        &.Hobby{
            border-color: $yellow2;
            color: $yellow2;
        }
    }
}

.FilterChecked{
    padding-top: 20px;
    padding-bottom: 42px;
    display: flex;
    flex-wrap: wrap;

    li{
        margin-right: 6px;
        margin-bottom: 6px;
    }
}

.FilterChecked, .FilterCheckedMobile{

    span{
        display: flex;
        align-items: center;
        width: fit-content;
        height: 24px;
        padding: 0 16px;
        color: $white;
        font-size: 13px;
        font-weight: 300;
        border-radius: 14px;

        &.Common{
            background-color: $blue3;
        }

        &.Study{
            background-color: $blue1;
        }

        &.Hobby{
            background-color: $yellow2;
        }
    }
}

.PostWrapper{

    li{
        padding-bottom: 14px;
    }
}

.PaginationWrapper{
    display: flex;
    justify-content: space-between;
    width: 598px;
    margin: 48px auto 124px;

    div{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        color: $black1;
        border: 1px solid transparent;
        transition: .2s;
        cursor: pointer;

        &:hover{
            border-color: $black4;
        }

        &.On{
            background-color: $blue3;
            color: $white;
            border-color: transparent;
            cursor: default;
        }

        @mixin PageArrow($bs, $bp) {
            background-repeat: no-repeat;
            background-size: $bs;
            background-position: $bp;
        }

        &.Prev2{
            @include PageArrow(13px, 9px);
            background-image: url("/frontend/src/assets/images/PageArrow2Prev.png");
        }
        
        &.Prev{
            @include PageArrow(6px, 12px);
            background-image: url("/frontend/src/assets/images/PageArrowPrev.png");
        }

        &.Next{
            @include PageArrow(6px, 14px);
            background-image: url("/frontend/src/assets/images/PageArrowNext.png");
        }

        &.Next2{
            @include PageArrow(13px, 10px);
            background-image: url("/frontend/src/assets/images/PageArrow2Next.png");
        }
    }
}

aside{
    width: 100%;
    height: 188px;
    background-color: $black4;
}

.FilterHead{
    display: none;
}

@media screen and (max-width:768px) {
    
    .MainTop{
        
        .TopCont{

            h2{
                margin-top: 70px;
            }
        }

        .TopBgCharacter{
            background-image: url("/frontend/src/assets/images/Profile3.png");
            background-size: 240px;
            background-position: right;
        }
    }

    .FilterChecked{
        display: none;
    }

    .FilterWrapper{
        top: 0;
        left: 0;
        display: block;
        background-color: $white;
        padding: 0%;
        border-radius: 0;

        &.Fixed{
            top: 60px;
        }
    }

    .FilterHead{
        border-bottom: 1px solid $black5;
        height: 68px;
        display: flex;

        .FilterButton{
            min-width: 100px;
            border-right: 1px solid $black5;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 700;

            .FilterArrow{
                display: block;
                background: url("/frontend/src/assets/images/FilterArrow.png") no-repeat;
                background-size: 100%;
                width: 11px;
                height: 6px;
                margin-left: 15px;

                &.On{
                    transform: rotate(180deg);
                }
            }
        }

        .FilterCheckedWrapper{
            width: 100%;
            overflow-x: auto;

            &::-webkit-scrollbar{
                display: none;
            }
        }

        .FilterCheckedMobile{
            display: flex;
            align-items: center;
            border: none;
            padding-left: 8px;
            width: auto;
            height: 100%;
            flex-wrap: nowrap;

            li{
                margin-right: 8px;
            }

            span{
                white-space: nowrap;
            }
        }
    }

    .FliterListWrapper{
        height: 0;
        overflow: hidden;
        position: relative;
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.On{
            height: 322px;
        }

        .FilterLabel {
            width: fit-content;
            background: none !important;
            border-radius: 0;
            border: none;
            font-size: 13px;
            margin-right: 24px;
            margin-bottom: 0;
        }
    }

    .FilterPostBox, .FilterCategoryBox{
        display: block;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        height: auto;
    }

    .FilterPostBox{
        
        .FilterList{
            height: 60px;
            border-bottom: 1px solid $black5;
        }
    }

    .FilterCategoryBox{

        .FilterLabel{
            padding: 0;
            margin-top: 18px;
        }
    }

    .FilterList{
        align-items: center;

        li{
            margin-bottom: 0;
            margin-right: 0;
        }
    }


    .FilterInput:checked ~ .FilterLabel{

        &.Common{
            color: $blue3
        }
    
        &.Study{
            color: $blue1
        }
    
        &.Hobby{
            color: $yellow2;
        }
    }

    .FilterWrapper button{
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
        border-radius: 0;
        font-size: 15px;
    }

    .PostList{

        .SectionWrap850{

            &>h4{
                padding-top: 136px;
            }
    
            &>p{
                margin-bottom: 24px;
            }
        }
    }
    
    .SectionWrap850{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .PaginationWrapper{
        width: 100%;
        margin: 28px auto 80px;

        div{
            width: 24px;
            height: 24px;
            font-size: 13px;

            &.Prev2, &.Next2{
                background-position: 5px;
            }

            &.Prev, &.Next{
                background-position: center;
            }
        }
    }
}