@charset "UTF-8";
/*색상 변수*/
/*reset*/
* {
  margin: 0;
  padding: 0;
  font-family: 'SUIT', 'sans-serif';
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #868686;
}

em {
  font-style: normal;
}

/*button*/
.ButtonFull {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  line-height: 26px;
  /*padding, font-size, font-weight, line-height, border-radius*/
  background-color: #001881;
  height: 50px;
  color: #fff;
}

.ButtonFull:hover {
  background-color: #005ec5;
}

.ButtonFull.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonFull.Disable:hover {
  background-color: #e2e2e2;
}

.ButtonFull2 {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 25px;
  line-height: 16px;
  background-color: #005ec5;
  height: 50px;
  color: #fff;
  padding-left: 26px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ButtonFull2:hover {
  background-color: #00b7ff;
}

.ButtonFull2.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonFull2.Disable:hover {
  background-color: #e2e2e2;
}

.ButtonFull2 span {
  background-size: 100% !important;
  width: 6px;
  height: 12px;
}

.ButtonFull2 span {
  background: url("../../src/assets/images/ButtonArrow.png") 50% 50% no-repeat;
}

.ButtonFull3 {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  line-height: 26px;
  background-color: #00b7ff;
  height: 50px;
  color: #fff;
}

.ButtonFull3:hover {
  background-color: #005ec5;
}

.ButtonFull3.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonFull3.Disable:hover {
  background-color: #e2e2e2;
}

.ButtonFullGhost {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  line-height: 26px;
  background-color: #fff;
  height: 50px;
  color: #fff;
  border: 1px solid #e2e2e2;
  color: #868686;
}

.ButtonFullGhost:hover {
  background-color: #fff;
}

.ButtonFullGhost.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonFullGhost.Disable:hover {
  background-color: #e2e2e2;
}

.ButtonFullGhost:hover {
  border: 1px solid #a8a8a8;
}

.ButtonFull2Ghost {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 25px;
  line-height: 16px;
  background-color: #fff;
  height: 50px;
  color: #fff;
  padding-left: 26px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e2e2e2;
  color: #868686;
}

.ButtonFull2Ghost:hover {
  background-color: #fff;
}

.ButtonFull2Ghost.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonFull2Ghost.Disable:hover {
  background-color: #e2e2e2;
}

.ButtonFull2Ghost span {
  background-size: 100% !important;
  width: 6px;
  height: 12px;
}

.ButtonFull2Ghost:hover {
  border: 1px solid #a8a8a8;
}

.ButtonFull2Ghost span {
  background: url("../../src/assets/images/ButtonArrowGhost.png") 50% 50% no-repeat;
}

@media screen and (max-width: 820px) {
  .ButtonFull2, .ButtonFull2Ghost {
    padding: 8px 0;
    height: 30px;
    font-size: 11px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ButtonFull2 span, .ButtonFull2Ghost span {
    display: none;
  }
}

.ButtonFullSmall {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 6px;
  line-height: 20px;
  /*padding, font-size, font-weight, line-height, border-radius*/
  background-color: #001881;
  height: 40px;
  color: #fff;
}

.ButtonFullSmall:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.ButtonFullSmall.Disable {
  background-color: #e2e2e2;
  cursor: default;
}

.ButtonSns {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 6px;
  line-height: 20px;
  /*padding, font-size, font-weight, line-height, border-radius*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.05em;
  height: 40px;
}

.ButtonSns:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.ButtonSns.Kakao {
  background-color: #fee500;
  font-weight: 400;
}

.ButtonSns.Kakao img {
  width: 13px;
  margin-right: 4px;
  margin-top: 2px;
}

.ButtonSns.Naver {
  background-color: #03c75a;
  color: #fff;
}

.ButtonSns.Naver img {
  width: 10px;
  margin-right: 6px;
}

.ButtonPost {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  color: #a8a8a8;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #e2e2e2;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.ButtonPost:hover {
  border-color: #00b7ff;
  color: #00b7ff;
}

.InputPostRadio:checked ~ .ButtonPost {
  background-color: #00b7ff;
  border-color: transparent;
  color: #fff;
}

.InputPostRadio:checked ~ .ButtonPost:hover {
  border-color: transparent;
  color: #fff;
  background-color: #005ec5;
}

@media screen and (max-width: 820px) {
  .ButtonPost:hover,
  .InputPostRadio:checked ~ .ButtonPost:hover {
    background-color: #00b7ff;
  }
}

/*input*/
ul.InputList > li {
  position: relative;
  height: 75px;
  -webkit-transition: .3s;
  transition: .3s;
}

.InputFull {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  outline: none;
  padding: 16px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
}

.InputFull:hover {
  border: 1px solid #707070;
}

.InputFull.On {
  border: 1px solid #00b7ff;
  caret-color: #00b7ff;
}

.InputFull.Error {
  border: 1px solid #ff0045;
  caret-color: #ff0045;
}

.LabelFull {
  position: absolute;
  left: 8px;
  top: 13px;
  font-size: 13px;
  font-weight: 300;
  padding: 0 4px 0 7px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  line-height: 24px;
  color: #a8a8a8;
}

.LabelFull.On {
  top: -12px;
  color: #00b7ff;
  font-size: 13px;
  font-weight: 500;
}

.LabelFull.Error {
  top: -12px;
  color: #ff0045;
  font-size: 13px;
  font-weight: 500;
}

.LabelAttached {
  position: absolute;
  left: 8px;
  top: 13px;
  font-size: 13px;
  font-weight: 300;
  padding: 0 4px 0 7px;
  -webkit-transition: .5s;
  transition: .5s;
  line-height: 24px;
  color: #a8a8a8;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.LabelAttached.On {
  color: #707070;
}

.InputTxt {
  font-size: 11px;
  text-align: center;
  font-weight: 300;
  position: absolute;
  width: 100%;
  top: 50px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.InputTxt.On {
  color: #00b7ff;
  opacity: 1;
  top: 54px;
}

.InputTxt.Error {
  color: #ff0045;
  opacity: 1;
  top: 54px;
}

.InputDel {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 16px;
  right: 15px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/InputDel.png");
  background-size: 100%;
}

.InputDel.On {
  display: block;
}

.PasswordShow {
  width: 25px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 17px;
  right: 48px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/PasswordShow.png");
  background-size: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.PasswordShow.Over {
  display: block;
}

.PasswordShow.On {
  background: url("../../src/assets/images/PasswordShow_On.png");
  background-size: 100%;
}

.PasswordShow.Error {
  background: url("../../src/assets/images/PasswordShow_Error.png");
  background-size: 100%;
  display: block;
}

.InputDouble {
  font-size: 10px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 20px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 15px;
  right: 48px;
  cursor: pointer;
  /*width, height, fontsize, top, right*/
}

.InputDouble.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.InputAdd {
  font-size: 10px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 20px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 15px;
  right: 15px;
  cursor: pointer;
  /*width, height, fontsize, top, right*/
}

.InputAdd.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.InputAdd.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.InputChecked {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 15px;
  right: 48px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/Checked_on.png");
  background-size: 100%;
  cursor: default;
}

.InputChecked.On {
  display: block;
}

.InputHide {
  /*로그인 상태 유지*/
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  display: none;
}

.InputHide ~ .LabelCheck {
  /*로그인 상태 유지*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 21px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.InputHide ~ .LabelCheck span {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url("../../src/assets/images/LogInCheck_off.png");
  background-size: 100%;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.InputHide:checked ~ .LabelCheck span {
  background: url("../../src/assets/images/LogInCheck_on.png");
  background-size: 100%;
}

textarea.TxtAreaInput {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 12px;
  resize: none;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #e2e2e2;
}

textarea.TxtAreaInput:focus, textarea.TxtAreaInput:hover {
  border: 1px solid #00b7ff;
}

.CardPost {
  width: 100%;
  background-color: #fff;
  border-radius: 2px 2px 15px 15px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.CardPost.Study {
  border-top: 6px solid #005ec5;
}

.CardPost.Study .CardTag.Color {
  background-color: #005ec5;
}

.CardPost.Hobby {
  border-top: 6px solid #F7971E;
}

.CardPost.Hobby .CardTag.Color {
  background-color: #F7971E;
}

.CardPost p {
  font-size: 12px;
  font-weight: 400;
  color: #868686;
}

.CardHead {
  padding: 10px 12px 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CardHead h5 {
  font-size: 16px;
  font-weight: 700;
}

.CardHead .CardHeadRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CardHead .CardHeadRight p {
  margin-left: 10px;
}

.CardHead .CardHeadRight .Star {
  width: 30px;
  height: 30px;
  background: #c4c4c4 url("/frontend/src/assets/images/ButtonStarWhite.png") center/20px no-repeat;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.CardHead .CardHeadRight .Star:hover {
  background-color: #b0b0b0;
}

.CardHead .CardHeadRight .Star.On {
  background-image: url("../../src/assets/images/StarOn.png");
}

.CardBody {
  height: 82px;
  padding: 10px 12px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CardBody .CardProfile {
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #8d2bf5;
}

.CardBody .CardProfile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.CardBody .CardTxt {
  width: 100%;
  margin-left: 15px;
}

.CardBody .CardTxt h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 18px;
}

.CardFooter {
  padding: 10px 12px 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CardFooter .CardTag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 8px;
  border-radius: 13px;
  background-color: #a8a8a8;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  font-weight: 300;
}

.CardFooter .CardTag:not(:last-child) {
  margin-right: 8px;
}

.CardEmpty {
  height: 120px;
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
}

.CardEmpty .CardAdd {
  min-width: 52px;
  height: 52px;
}

.CardEmpty p {
  font-size: 20px;
  font-weight: 500;
  color: #a8a8a8;
  margin-left: 20px;
}

@media screen and (max-width: 820px) {
  .CardHead {
    padding: 10px 5px 10px 15px;
  }
  .CardHead .CardHeadRight p:nth-child(1) {
    display: none;
  }
  .CardHead .CardHeadRight .Star {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-size: 14px;
  }
  .CardBody {
    padding: 0 5px 0 15px;
    height: 64px;
  }
  .CardFooter {
    padding: 5px 5px 5px 5px;
  }
  .CardFooter .CardTag {
    font-size: 11px;
    line-height: 1;
    border-radius: 12px;
    padding: 7px 8px;
  }
  .CardFooter .CardTag:not(:last-child) {
    margin-right: 4px;
  }
  .CardEmpty {
    height: 82px;
  }
  .CardEmpty .CardAdd {
    min-width: 34px;
    height: 34px;
  }
  .CardEmpty p {
    font-size: 15px;
    margin-left: 16px;
  }
}

.PostCard {
  height: 94px;
  background-color: #fff;
  border-radius: 10px;
  padding: 16px 22px 16px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid transparent;
  cursor: pointer;
}

.PostCard:hover {
  border-color: #a8a8a8;
}

.PostCard.Disable .PostCardHead .TextBox .Dday, .PostCard.Disable .PostCardBody .TextBox .TitleBox h5, .PostCard.Disable .PostCardBody .TextBox .TextList .Category {
  color: #a8a8a8;
}

.PostCard.Disable .PostCardBody .ButtonBox button.Participate {
  background-color: #f0f0f0;
  cursor: default;
}

.PostCardHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 204px;
  height: 100%;
  border-right: 1px solid #a8a8a8;
  position: relative;
}

.PostCardHead .ProfileBox {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #8d2bf5;
  overflow: hidden;
}

.PostCardHead .ProfileBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.PostCardHead .TextBox {
  width: 100%;
  height: 100%;
  padding: 0 14px;
}

.PostCardHead .TextBox .Dday {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #00b7ff;
  text-align: right;
}

.PostCardHead .TextBox .Date {
  margin-top: 0;
  font-size: 12px;
  font-weight: 300;
  color: #868686;
}

.PostCardHead .TextBox .Name {
  margin-top: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.PostCardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

.PostCardBody .TextBox {
  width: 100%;
  height: 100%;
}

.PostCardBody .TextBox .TitleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PostCardBody .TextBox .TitleBox h5 {
  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.PostCardBody .TextBox .TitleBox .Star {
  width: 30px;
  height: 30px;
  background: #c4c4c4 url("/frontend/src/assets/images/ButtonStarWhite.png") center/20px no-repeat;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 22px;
  margin-right: 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

.PostCardBody .TextBox .TitleBox .Star:hover {
  background-color: #b0b0b0;
}

.PostCardBody .TextBox .TitleBox .Star.On {
  background-image: url("../../src/assets/images/StarOn.png");
}

.PostCardBody .TextBox .TextList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.PostCardBody .TextBox .TextList p {
  font-size: 12px;
  font-weight: 400;
  color: #868686;
}

.PostCardBody .TextBox .TextList p:not(:last-child) {
  margin-right: 20px;
}

.PostCardBody .TextBox .TextList .Category {
  font-weight: 700;
}

.PostCardBody .TextBox .TextList .Category.Study {
  color: #005ec5;
}

.PostCardBody .TextBox .TextList .Category.Hobby {
  color: #F7971E;
}

.PostCardBody .ButtonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  gap: 14px;
  padding: 5px 0;
  padding-left: 22px;
  border-left: 1px solid #a8a8a8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.PostCardBody .ButtonBox button {
  width: 100px;
  height: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.PostCardBody .ButtonBox button.Detail {
  background-color: #c4c4c4;
}

.PostCardBody .ButtonBox button.Detail:hover {
  background-color: #B0B0B0;
}

.PostCardBody .ButtonBox button.Participate {
  background-color: #00b7ff;
}

.PostCardBody .ButtonBox button.Participate:hover {
  background-color: #00A3E3;
}

@media screen and (max-width: 820px) {
  .PostCard {
    height: 108px;
    padding: 10px 12px 14px 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .PostCardHead {
    width: 100%;
    height: 16px;
    border: none;
  }
  .PostCardHead .ProfileBox {
    display: none;
  }
  .PostCardHead .TextBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .PostCardHead .TextBox p.Dday, .PostCardHead .TextBox p.Date, .PostCardHead .TextBox p.Name {
    margin: 0;
  }
  .PostCardHead .TextBox p.Dday {
    margin-right: auto;
  }
  .PostCardHead .TextBox p.Date {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 12px;
    padding-right: 28px;
  }
  .PostCardHead .TextBox p.Name {
    font-size: 12px;
    font-weight: 300;
    color: #868686;
  }
  .PostCardBody {
    padding: 0;
  }
  .PostCardBody .TextBox .TitleBox {
    margin-top: 18px;
  }
  .PostCardBody .TextBox .TitleBox h5 {
    font-size: 14px;
  }
  .PostCardBody .TextBox .TitleBox .Star {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-size: 14px;
    margin: 0;
  }
  .PostCardBody .TextBox .TextList {
    margin-top: 17px;
  }
  .PostCardBody .TextBox .TextList p:not(:last-child) {
    margin-right: 12px;
  }
  .PostCardBody .ButtonBox {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .PostCardHead .TextBox p.Date {
    margin-left: 10px;
    padding-right: 26px;
  }
}

.PostCard.Cent .PostCardBody .TextBox .TitleBox h5 {
  width: 290px;
  margin-top: 4px;
}

.PostCard.Cent .PostCardBody .TextBox p:last-child {
  color: #000;
  font-weight: 700;
}

.PostCard.Cent .PostCardBody .DetailBox {
  min-width: 158px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid #A8A8A8;
  border-right: 1px solid #a8a8a8;
}

.PostCard.Cent .PostCardBody .DetailBox p {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 7px;
  white-space: nowrap;
}

.PostCard.Cent .PostCardBody .DetailBox p span {
  font-weight: 500;
}

.PostCard.Cent .PostCardBody .DetailBox button {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.PostCard.Cent .PostCardBody .DetailBox button.Detail {
  background-color: #c4c4c4;
}

.PostCard.Cent .PostCardBody .DetailBox button.Detail:hover {
  background-color: #B0B0B0;
}

.PostCard.Cent .PostCardBody .DetailBox button.Nega {
  background-color: #F95884;
}

.PostCard.Cent .PostCardBody .DetailBox button.Nega:hover {
  background-color: #E9416E;
}

.PostCard.Cent .PostCardBody .DetailBox button.Posi {
  background-color: #00B7FF;
}

.PostCard.Cent .PostCardBody .DetailBox button.Posi:hover {
  background-color: #00A3E3;
}

.PostCard.Cent .PostCardBody .ButtonBox {
  min-width: 130px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
}

.PostCard.Cent .PostCardBody .ButtonBox button.Detail {
  font-size: 15px;
}

.ProfileToolTip {
  width: 164px;
  height: 70px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  display: none;
  z-index: 1;
}

.ProfileToolTip p.ToolTipName {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.ProfileToolTip .ToolTipBtn {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.ProfileToolTip .ToolTipBtn button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.ProfileToolTip .ToolTipBtn button.Chat {
  max-width: 30px;
  background: url("/frontend/src/assets/images/IconChat.png") center/20px 18px no-repeat #C4C4C4;
}

.ProfileToolTip .ToolTipBtn button.Chat:hover {
  background-color: #b0b0b0;
}

.ProfileToolTip .ToolTipBtn button.Profile {
  background-color: #868686;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.ProfileToolTip .ToolTipBtn button.Profile:hover {
  background-color: #747474;
}

@media screen and (max-width: 820px) {
  .PostCard.Cent {
    height: 146px;
    padding: 12px 10px 16px 16px;
  }
  .PostCard.Cent .PostCardHead {
    height: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .PostCard.Cent .PostCardHead .ProfileBox {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 12px;
  }
  .PostCard.Cent .PostCardHead .TextBox p.Dday {
    font-size: 18px;
  }
  .PostCard.Cent .PostCardHead .TextBox p.Name, .PostCard.Cent .PostCardHead .TextBox p.Date {
    display: none;
  }
  .PostCard.Cent .PostCardBody {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 12px;
  }
  .PostCard.Cent .PostCardBody .TextBox .TitleBox {
    width: 206px;
    height: 42px;
    margin-top: 0;
  }
  .PostCard.Cent .PostCardBody .TextBox .TitleBox h5 {
    width: 100%;
    overflow: visible;
    white-space: normal;
    line-height: 21px;
    margin-top: 0;
  }
  .PostCard.Cent .PostCardBody .TextBox .TextList {
    margin-top: 20px;
    min-width: 100%;
  }
  .PostCard.Cent .PostCardBody .DetailBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 10px;
    border: none;
    padding: 0;
  }
  .PostCard.Cent .PostCardBody .DetailBox p {
    font-size: 13px;
    margin: 0;
  }
  .PostCard.Cent .PostCardBody .DetailBox button {
    min-width: 74px;
  }
  .PostCard.Cent .PostCardBody .ButtonBox {
    display: block;
    min-width: 74px;
    height: 30px;
    right: 10px;
    top: 59px;
    position: absolute;
    padding: 0;
  }
  .PostCard.Cent .PostCardBody .ButtonBox button.Detail {
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
  }
}

@media screen and (max-width: 300px) {
  .PostCard.Cent .PostCardBody .TextBox .TitleBox {
    width: 150px;
  }
  .PostCard.Cent .PostCardBody .DetailBox {
    min-width: 0;
  }
  .PostCard.Cent .PostCardBody .DetailBox p span {
    display: none;
  }
}

body.Modal {
  height: 100vh;
  overflow: hidden;
}

.ModalWrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ModalWrapper.Modal .ModalBg {
  opacity: .5;
}

.ModalWrapper.Modal .ModalBox {
  opacity: 1;
}

.ModalBg {
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

.ModalBox {
  padding: 0 40px;
  width: 534px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  color: #868686;
  border-radius: 20px;
  height: 685px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
}

.ModalTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 48px;
  height: 18px;
}

.ModalTop .ModalClose {
  display: block;
  width: 14px;
  height: 14px;
  background: url("../../src/assets/images/ModalClose.png");
  background-size: 100%;
  cursor: pointer;
  margin-right: 10px;
}

.ModalTop .ModalArrow {
  font-size: 18px;
  color: #868686;
  cursor: pointer;
  line-height: 1;
  font-weight: 300;
}

.ModalTop .ModalArrow img {
  width: 8px;
  margin-right: 15px;
}

.ModalTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.ModalTitle li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  height: 45px;
}

.ModalTitle li.On {
  font-size: 32px;
  color: #000;
  font-weight: 700;
  cursor: default;
}

.ModalContents {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.ModalContents.On {
  opacity: 1;
}

.InputList {
  padding: 25px 0 20px;
}

.ListFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ListFlex li {
  width: 100%;
  margin-right: 16px;
}

.ListFlex li:last-child {
  margin-right: 0;
}

.SubList {
  margin: 30px 0 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SubList li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 300;
  color: #868686;
}

p.SnsTitle {
  margin: 58px auto 30px;
  font-size: 13px;
  color: #000;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

p.SnsTitle::before, p.SnsTitle::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
}

p.SnsTitle::before {
  margin-right: 11px;
}

p.SnsTitle::after {
  margin-left: 11px;
}

.SnsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

.SnsList li {
  width: 100%;
  margin-right: 16px;
}

.SnsList li:last-child {
  margin: 0;
}

.ChooseTitle {
  width: 100%;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  color: #a8a8a8;
  /*fontsize, color*/
  height: 50px;
  font-weight: 300;
  padding: 8px 4px 8px 12px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.Choose {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 6px 4px 6px;
  border-radius: 12px;
  font-size: 13px;
  line-height: 14px;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ChooseUnder {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 6px 4px 6px;
  border-radius: 12px;
  font-size: 13px;
  line-height: 14px;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #00b7ff !important;
  color: #fff;
  padding-right: 26px;
  cursor: pointer;
}

.ChooseUnder .ChooseCancel {
  display: block;
}

.InputChoose:checked ~ .LabelChoose .Choose {
  background-color: #00b7ff !important;
  color: #fff;
  padding-right: 26px;
}

.InputChoose:checked ~ .LabelChoose .Choose .ChooseCancel {
  display: block;
}

ul.InputList.SignStep3 li.ChooseList {
  height: auto;
  margin-bottom: 25px;
}

.LabelChoose {
  display: block;
  width: 100%;
  cursor: pointer;
  height: 21px;
  padding: 4px 6px 2px;
  padding-right: 0;
}

.LabelChoose:hover p {
  background-color: #e2e2e2;
}

ul.ChooseListDetail {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  height: 50px;
  -webkit-transition: height .3s;
  transition: height .3s;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul.ChooseListDetail:hover {
  border: 1px solid #707070;
}

ul.ChooseListDetail.On {
  border: 1px solid #00b7ff;
}

ul.ChooseListDetail li {
  width: 100%;
  position: relative;
}

ul.ChooseListDetail li:first-child {
  height: 50px;
}

ul.ChooseListDetail li:first-child::after {
  content: '';
  display: block;
  height: 1px;
  width: calc(100% - 24px);
  background-color: #e2e2e2;
  margin: 0 auto;
}

ul.ChooseListUnder {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

ul.ChooseListUnder li {
  margin-left: 8px;
  margin-top: 6px;
}

ul.ChooseListUnder::-webkit-scrollbar {
  display: none;
}

.ChooseCancel {
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 6px;
  right: 10px;
  /*width,heigh,top,right*/
  background: url("../../src/assets/images/CloseWhite.png") 50% 50%;
  background-size: 100%;
  cursor: default;
}

.ChooseComplete {
  font-size: 13px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 20px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 8px;
  right: 8px;
  cursor: pointer;
  /*width, height, fontsize, top, right*/
  background-color: #e2e2e2;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ChooseComplete.On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ChooseComplete:hover {
  background-color: #00b7ff;
}

.ChooseComplete.On {
  background-color: #00b7ff;
}

main {
  margin-left: 142px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (max-width: 820px) {
  .ModalWrapper.Modal .ModalBox {
    margin-top: 40px;
    height: calc(100vh - 40px);
    position: fixed;
    bottom: 0;
  }
  .ModalBox {
    padding: 0 20px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 0;
    margin-top: 100vh;
  }
  .InputList {
    padding-top: 25px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .InputList::-webkit-scrollbar {
    display: none;
  }
  .ModalTop {
    margin-top: 40px;
    margin-bottom: 45px;
  }
  .ModalTop .ModalClose {
    margin-right: 0;
  }
  .ModalBody {
    height: calc(100vh - 194px);
  }
  .ModalBody::-webkit-scrollbar {
    display: none;
  }
  .SnsList li {
    margin-right: 10px;
  }
  .ListFlex li {
    margin-right: 10px;
  }
  ul.ChooseListDetail li:not(:first-child) {
    padding: 8px 0;
  }
  .ChooseComplete {
    top: 12px;
    width: 40px;
    height: 24px;
    border-radius: 12px;
  }
  main {
    width: 100%;
    padding: 60px 0 70px;
    margin: 0;
  }
}

.ScrollButton {
  position: fixed;
  width: 45px;
  height: 110px;
  right: 45px;
  bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9;
}

.ScrollButton .ScrollTop, .ScrollButton .ScrollBottom {
  width: 45px;
  height: 45px;
  background-size: 100% !important;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.ScrollButton .ScrollTop.Disable, .ScrollButton .ScrollBottom.Disable {
  opacity: .3;
  cursor: default;
}

.ScrollButton .ScrollTop {
  background: url("/frontend/src/assets/images/ButtonScrollTop.png");
}

.ScrollButton .ScrollBottom {
  background: url("/frontend/src/assets/images/ButtonScrollBottom.png");
}

.MainTop {
  height: 400px;
  background-color: #005ec5;
  position: relative;
  overflow: hidden;
}

.MainTop .ButtonIntro {
  width: 45px;
  height: 45px;
  background: url("/frontend/src/assets/images/IconLinkIntro.png") 50% 50%;
  background-size: 100% !important;
  cursor: pointer;
  position: absolute;
  top: 63px;
  right: 45px;
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.MainTop .ButtonIntro:hover {
  opacity: 1;
}

.TopCont {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TopCont > img {
  width: 70px;
  margin: 66px auto 20px;
}

.TopCont h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  line-height: 60px;
}

.TopCont h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  line-height: 36px;
}

.TopCont .InputWrapper {
  width: 506px;
  height: 50px;
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 25px;
  overflow: hidden;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TopCont .InputWrapper img {
  width: 26px;
  height: 26px;
  margin-left: 18px;
  margin-bottom: 4px;
}

.TopCont .InputWrapper input {
  width: calc(100% - 76px);
  height: 100%;
  border: none;
  outline: none;
  margin-left: 14px;
  font-size: 13px;
  font-weight: 400;
}

.TopCont .InputWrapper input::-webkit-input-placeholder {
  color: #a8a8a8;
}

.TopCont .InputWrapper input:-ms-input-placeholder {
  color: #a8a8a8;
}

.TopCont .InputWrapper input::-ms-input-placeholder {
  color: #a8a8a8;
}

.TopCont .InputWrapper input::placeholder {
  color: #a8a8a8;
}

@media screen and (max-width: 820px) {
  .ScrollButton {
    display: none;
  }
  .MainTop {
    height: 240px;
  }
  .MainTop .ButtonIntro {
    width: 30px;
    height: 30px;
    top: 17px;
    right: 20px;
    opacity: 1;
  }
  .TopCont {
    width: calc(100vw - 40px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .TopCont > img {
    width: 42px;
    margin: 38px auto 12px;
  }
  .TopCont h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .TopCont h3 {
    font-size: 13px;
    line-height: 26px;
  }
  .TopCont .InputWrapper {
    width: calc(100vw - 40px);
    height: 36px;
    border-radius: 18px;
    margin-top: 32px;
  }
  .TopCont .InputWrapper img {
    width: 24px;
    height: 24px;
    margin-left: 12px;
  }
  .TopCont .InputWrapper input {
    width: calc(100% - 65px);
    font-size: 12px;
    margin-left: 12px;
  }
}

@media screen and (max-width: 300px) {
  .MainTop .ButtonIntro {
    right: 10px;
  }
  .TopCont h2, .TopCont h3 {
    text-align: center;
    word-break: keep-all;
  }
  .TopCont h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .TopCont h3 {
    font-size: 12px;
    line-height: 24px;
  }
  .TopCont > img {
    margin-top: 50px;
  }
}

.SectionWrap850 {
  max-width: 850px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 820px) {
  .SectionWrap850 {
    padding: 0 20px;
  }
}

@media screen and (max-width: 300px) {
  .SectionWrap850 {
    padding: 0 10px;
  }
}

.PaginationWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 598px;
  margin: 48px auto 64px;
}

.PaginationWrapper div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  border: 1px solid transparent;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.PaginationWrapper div:hover {
  border-color: #a8a8a8;
}

.PaginationWrapper div.On {
  background-color: #00b7ff;
  color: #fff;
  border-color: transparent;
  cursor: default;
}

.PaginationWrapper div.Prev2 {
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: 9px;
  background-image: url("/frontend/src/assets/images/PageArrow2Prev.png");
}

.PaginationWrapper div.Prev {
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: 12px;
  background-image: url("/frontend/src/assets/images/PageArrowPrev.png");
}

.PaginationWrapper div.Next {
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: 14px;
  background-image: url("/frontend/src/assets/images/PageArrowNext.png");
}

.PaginationWrapper div.Next2 {
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: 10px;
  background-image: url("/frontend/src/assets/images/PageArrow2Next.png");
}

@media screen and (max-width: 820px) {
  .PaginationWrapper {
    width: 100%;
    margin: 28px auto 80px;
  }
  .PaginationWrapper div {
    width: 24px;
    height: 24px;
    font-size: 13px;
  }
  .PaginationWrapper div.Prev, .PaginationWrapper div.Next, .PaginationWrapper div.Prev2, .PaginationWrapper div.Next2 {
    background-position: center;
  }
}

.ModalBoxPost {
  max-width: 850px;
  max-height: 850px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 40px;
}

.HeaderContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.HeaderContent:nth-child(1) {
  z-index: 2;
}

.HeaderContent:nth-child(2) {
  z-index: 1;
}

.HeaderContent > div:last-of-type {
  height: 74px;
  width: 100%;
  position: relative;
}

.ContentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ContentFlex div {
  width: 100%;
}

.ContentFlex div:first-of-type {
  position: relative;
  margin-right: 24px;
}

.PostListFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
}

.PostListFlex li {
  width: 112px;
}

.PostListFlex li:not(:last-child) {
  margin-right: 15px;
}

ul.PostListDrop {
  width: 100%;
  height: 50px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  -webkit-transition-property: height, border-color;
  transition-property: height, border-color;
  -webkit-transition-duration: .5s, .3s;
          transition-duration: .5s, .3s;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 24px;
}

ul.PostListDrop:hover {
  border-color: #00b7ff;
}

ul.PostListDrop:hover li:first-child .Arrow {
  background: url("/frontend/src/assets/images/ArrowDownOn.png") no-repeat;
}

ul.PostListDrop.On {
  border-color: #00b7ff;
}

ul.PostListDrop.On li:first-child .Arrow {
  background: url("/frontend/src/assets/images/ArrowUpOn.png") no-repeat;
}

ul.PostListDrop li {
  width: 100%;
  position: relative;
  padding-left: 6px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul.PostListDrop li:first-child {
  height: 50px;
  padding: 0;
}

ul.PostListDrop li:first-child::after {
  content: '';
  display: block;
  height: 1px;
  width: calc(100% - 24px);
  background-color: #e2e2e2;
  margin: 0 auto;
}

ul.PostListDrop li:first-child span.Arrow {
  display: block;
  width: 11px;
  height: 6px;
  background: url("/frontend/src/assets/images/ArrowDown.png") no-repeat;
  background-size: 11px !important;
  position: absolute;
  top: calc(50% - 3px);
  right: 12px;
  -webkit-transition: .3s;
  transition: .3s;
}

ul.PostListDrop li:nth-child(2) {
  padding-top: 5px;
}

.PostListDrop.PostListPeople li:nth-child(2) {
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.PostListDrop.PostListPeople li:nth-child(2) span {
  display: block;
  width: 15px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #707070;
  -webkit-transition: .3s;
  transition: .3s;
}

.PostListDrop.PostListPeople li:nth-child(2) span:hover {
  color: #00b7ff;
}

.PostListDrop.PostListPeople.On {
  height: 124px;
}

.InputPostCatDet {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  color: #707070;
  padding: 0 12px 0 18px;
}

.InputPostCatDet::-webkit-input-placeholder {
  color: #a8a8a8;
}

.InputPostCatDet:-ms-input-placeholder {
  color: #a8a8a8;
}

.InputPostCatDet::-ms-input-placeholder {
  color: #a8a8a8;
}

.InputPostCatDet::placeholder {
  color: #a8a8a8;
}

.InputPostPeople {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #707070;
  text-align: center;
}

.InputPostPeople::-webkit-inner-spin-button {
  display: none;
}

.ArrowNum {
  display: block;
  width: 24px;
  height: 16px;
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 8px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.ArrowNum.Up {
  background-image: url("/frontend/src/assets/images/ArrowUp.png");
  top: 9px;
}

.ArrowNum.Up:hover {
  background-image: url("/frontend/src/assets/images/ArrowUpOn.png");
}

.ArrowNum.Down {
  background-image: url("/frontend/src/assets/images/ArrowDown.png");
  bottom: 9px;
}

.ArrowNum.Down:hover {
  background-image: url("/frontend/src/assets/images/ArrowDownOn.png");
}

.InputDate {
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 500;
  cursor: pointer;
  color: #707070;
  padding: 0 12px;
}

.InputDate:hover {
  border-color: #00b7ff;
}

.InputDate::-webkit-calendar-picker-indicator {
  height: 100%;
  background: url("/frontend/src/assets/images/IconCalendar.png") no-repeat 50% 50%;
  background-size: 26px;
  cursor: pointer;
}

.ModalPostBody {
  height: calc(100% - 81px);
  overflow-y: auto;
}

.ModalPostBody::-webkit-scrollbar {
  display: none;
}

.ModalPostBody h4 {
  font-size: 13px;
  font-weight: 500;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.ModalPostBody .InputBox {
  position: relative;
  margin-bottom: 30px;
}

.ModalPostBody .InputTitle {
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 500;
}

.ModalPostBody .InputTitle:hover {
  border-color: #00b7ff;
}

.ModalPostBody .TextArea {
  height: 350px;
}

.ModalPostBody .TextArea textarea {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  padding: 20px 12px;
  resize: none;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 500;
}

.ModalPostBody .TextArea textarea:hover {
  border-color: #00b7ff;
}

.ModalPostFooter {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 34px;
  margin-left: auto;
}

.ModalPostFooter ul.PostListFlex {
  margin-right: 0;
}

.ModalPostFooter ul.PostListFlex li:last-of-type .ButtonPost {
  background-color: #00b7ff;
  border-color: transparent;
  color: #fff;
}

.ModalPostFooter ul.PostListFlex li:last-of-type .ButtonPost:hover {
  border-color: transparent;
  color: #fff;
  background-color: #005ec5;
}

.ToolTipWrapper {
  position: relative;
}

.ToolTip {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  font-size: 13px;
  font-weight: 700;
  color: #a8a8a8;
}

.ToolTipDt {
  display: none;
  position: absolute;
  max-width: 356px;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  padding: 14px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16);
  font-size: 13px;
  line-height: 18px;
  color: #707070;
  top: 35px;
  left: 100px;
  opacity: 0;
}

.ToolTipDt.on {
  opacity: 1;
}

@media screen and (max-width: 820px) {
  .ModalBoxPost {
    padding: 18px 0 24px;
  }
  .HeaderContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .HeaderContent > div {
    margin-bottom: 20px;
  }
  .HeaderContent > div:last-of-type {
    height: auto;
  }
  .PostListFlex {
    margin-right: 0;
  }
  .PostListFlex li {
    width: 100%;
  }
  .PostListFlex li:not(:last-child) {
    margin-right: 8px;
  }
  ul.PostListDrop {
    position: static;
  }
  ul.PostListDrop.PostListPeople li:nth-child(2) {
    padding: 20px 12px;
  }
  ul.PostListDrop.PostListPeople li:nth-child(2) span {
    margin-right: 16px;
    margin-bottom: 16px;
  }
  ul.PostListDrop.PostListPeople.On {
    height: 110px;
  }
  .InputPostCatDet {
    padding: 0 12px;
  }
  .ContentFlex {
    display: block;
  }
  .ContentFlex > div:first-child {
    margin-bottom: 20px;
  }
  .ModalPostBody {
    padding: 0 18px;
    height: calc(100% - 90px);
  }
  .ModalPostBody .TextArea {
    height: 240px;
  }
  .ModalPostFooter {
    padding: 0 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-top: 40px;
  }
  .ToolTipDt {
    top: 30px;
    left: 0;
  }
}

@media screen and (max-width: 410px) {
  ul.PostListDrop.PostListPeople.On {
    height: 144px;
  }
}

@media screen and (max-width: 300px) {
  .InputPostCatDet::-webkit-input-placeholder {
    font-size: 12px;
  }
  .InputPostCatDet:-ms-input-placeholder {
    font-size: 12px;
  }
  .InputPostCatDet::-ms-input-placeholder {
    font-size: 12px;
  }
  .InputPostCatDet::placeholder {
    font-size: 12px;
  }
  ul.PostListDrop.PostListPeople li:nth-child(2) span {
    width: 20%;
    margin-right: 0;
  }
}
/*# sourceMappingURL=PostModal.css.map */