@import "../mypage/mypage";

@mixin backgroundColor($bg, $hover){
    background-color: $bg;

    &:hover{
        background-color: $hover;
    }
}

@mixin button {
    border: none;
    outline: none;
    cursor: pointer;
}

@mixin textOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.Chat{
    min-height: calc(100vh - 131px);
    background-color: #F6F7FB;
    padding: 20px 0;
    box-sizing: border-box;
}

.ChatBoxWrapper{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.ChatBoxHead{
    height: 64px;
    border-bottom: 1px solid #A8A8A8;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    h3{
        margin-right: auto;
        font-size: 20px;
        font-weight: 700;
    }

    button{
        @include button();

        &.Search{
            text-indent: -9999px;
            width: 26px;
            height: 26px;
            background: transparent url("/frontend/src/assets/images/serchSmall.png") center/100% no-repeat;
        }
    }
}

button.Set{
    @include button();
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #c4c4c4 url("/frontend/src/assets/images/SettingWhite.png") center/16px no-repeat;
    transition: .3s;

    &:hover{
        background-color: #B0B0B0;
    }

    &.On{
        @include backgroundColor(#00B7FF, #00A3E3);
    }
}

.ChatBoxBody{
    height: calc(100vh - 236px);
    overflow-y: overlay;
    transition: .5s;

    &.Search{
        height: calc(100vh - 314px);
    }
}

.ChatContent{
    height: 116px;
    padding: 8px 14px;
    border: 6px solid #fff;
    box-sizing: border-box;
    background-color: #fff;
    transition: .5s;
    position: relative;
    display: flex;
    cursor: pointer;

    &:hover{
        background-color: #f3f3f3;
    }

    &:not(:last-child)::after{
        display: block;
        content: '';
        height: 1px;
        width: calc(100% + 12px);
        background-color: #e2e2e2;
        position: absolute;
        bottom: -6px;
        left: -6px;
    }

}

.ContentSet{
    width: 0;
    padding-top: 5px;
    overflow: hidden;
    transition: .5s ease;
    box-sizing: border-box;
}

.ContentCard{
    width: 100%;
    transition: .5s;
}

.ChatBoxList.On{

    .ContentSet{
        width: 40px;
    }

    .ContentCard{
        width: calc(100% - 40px);
    }
}

.InputHide ~ .LabelCheck{
    display: block !important;
}

.ChatContentHead{
    display: flex;
    gap: 8px;

    .HeadBox{
        background-color: #fff;
        border-radius: 15px;
        height: 30px;
        border: 1px solid #E2E2E2;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        &.Profile{
            padding-right: 12px;

            .ProfileImg{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-left: 3px;
            }

            .ProfileFlag{
                width: 14px;
                height: 14px;
                margin-left: 12px;
            }

            p{
                font-size: 15px;
                font-weight: 700;
                margin-left: 8px;
            }
        }

        &.Post{
            padding: 8px 16px;

            p{
                font-size: 12px;
                color: #a8a8a8;
                font-weight: 500;

                span{
                    font-weight: 700;
                    margin-right: 8px;

                    &.Study{
                        color: #0F3FA6;
                    }

                    &.Hobby{
                        color: #f7971e;
                    }
                }
            }
        }
    }
}

.ChatBoxSearch{
    height: 0;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
    transition: .5s;

    &.On{
        height: 78px;
    }

    .SearchInputWrap{
        margin: 14px 20px;
        width: calc(100% - 40px);
        height: 50px;
        border-radius: 35px;
        border: 1px solid #e2e2e2;
        padding: 0 20px 0 18px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 14px;

        button{
            width: 26px;
            height: 26px;
            margin-bottom: 2px;
            text-indent: -9999px;
            @include button();
            background: transparent url('/frontend/src/assets/images/serchSmall.png') center/100%;
        }
    }

    input{
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        font-size: 13px;
        color: #000;
        font-weight: 700;

        &::placeholder{
            color: #a8a8a8;
            font-weight: 500;
        }
    }
}

.ChatContentBody{
    margin: 14px 0 10px;

    p{
        font-size: 14px;
        color: #707070;
        @include textOverflow();

        &.Disabled{
            color: #a8a8a8;
        }
    }
}

.ChatContentFooter{
    display: flex;
    gap: 12px;
    align-items: center;

    p{
        font-size: 13px;
        font-weight: 500;

        &.Date{
            color: #a8a8a8;
        }

        &.New{
            display: flex;
            align-items: center;
            gap: 4px;
            color: #F95884;
            line-height: 1;

            span{
                font-size: 12px;
                color: #fff;
                font-weight: 500;
                background-color: #F95884;
                border-radius: 10px;
                width: 30px;
                height: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


.DeleteBox{
    width: 100%;
    height: 0;
    overflow-y: hidden;
    transition: .5s;
    background-color: #fff;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    padding-right: 5px;
    box-sizing: border-box;

    &.On{
        height: 60px
    }

    button{
        @include button();
        width: 112px;
        height: 50px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        transition: .3s;
        @include backgroundColor(#F95884, #E9416E);

        &[type=reset]{
            @include backgroundColor(#C4C4C4, #B0B0B0);
        }
    }
}

.CheckAllBox{
    width: 58px;
    height: 100%;
    border-right: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;

    span{
        margin: 0 !important;
    }
}

.noContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .Illust{
        width: 240px;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;

        @media screen and (max-width: 820px) {
            width: 200px;
        }

        img{
            width: 100%;
        }
    }

    p{
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;

        em{
            font-weight: 700;

            span{
                color: $blue3;
            }
        }
    }

    button{
        @include button();
        @include backgroundColor(#00B7FF, #00A3E3);
        width: 74px;
        height: 30px;
        border-radius: 5px;
        color: $white;
        font-size: 13px;
        font-weight: 700;
        transition: .3s;
    }
}

.ChatBoxHead.Dt{
    height: 108px;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;

    .HeadTop{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    h3{
        display: flex;
        align-items: center;
        gap: 16px;

        img{
            width: 24px;   
        }
    }

    button.Del {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        transition: .3s;
        @include backgroundColor(#c4c4c4, #b0b0b0);
        color: $white;
        font-size: 12px;
        font-weight: 500;
    }

    p{
        font-size: 12px;
        font-weight: 500;
        color: $black4;

        span{
            font-weight: 700;
            margin-right: 8px;

            &.Study{
                color: #0F3FA6;
            }

            &.Hobby{
                color: #f7971e;
            }
        }
    }
}
.ChatBoxBody.Dt{
    overflow: overlay !important;
}


.ChatBoxBody.Dt{
    height: calc(100vh - 379px);
    scroll-behavior: initial;
}

.ChatDtWrapper{
    padding-bottom: 35px;
    position: relative;

    p.date{
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        color: $black4;
        background-color: #f3f3f3;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

.ChatDt{
    position: relative;
    width: fit-content;

    .ChatTxt{
        width: fit-content;
        padding: 12px;
        box-sizing: border-box;
        border: 1px solid #e2e2e2;
        border-radius: 6px;
        font-size: 13px;
        line-height: 20px;
        color: #707070;
    }

    p.Time{
        width: 30px;
        font-size: 12px;
        color: $black4;
        position: absolute;
    }

    &.Opponent{
        margin: 20px auto 0 40px;

        .ChatProfile{
            display: flex;
            align-items: center;
            gap: 10px;

            .ProfileImg{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;

                img{
                    width: 100%;
                }
            }

            h4{
                font-size: 13px;
                font-weight: 700;
                color: #000;
            }
        }

        .ChatTxt{
            max-width: 514px;
            margin-left: 40px;
        }

        p.Time{
            bottom: 0;
            right: -40px;
        }
    }

    &.Me{
        margin: 24px 40px 0 auto;

        .ChatTxt{
            max-width: 320px;
            background-color: #E6FAFF;
        }

        p.Time{
            bottom: 0;
            left: -40px;
        }
        
        .Show{
            width: 16px;
            height: 16px;
            background: url('/frontend/src/assets/images/ChatShow.png') center/100% no-repeat;
            position: absolute;
            left: -26px;
            bottom: 18px;
        }
    }
}

form{
    display: contents;
}

.ChatBoxBottom{
    height: 100px;
    border-top: 1px solid $black5;
    padding: 10px;
    box-sizing: border-box;
    display: flex;    
}

.ChatInput{
    border: none;
    outline: none;
    margin: 10px 40px 10px 30px;
    width: calc(100% - 150px);
    height: 57px;
    font-size: 13px;
    line-height: 20px;
    color: #707070;
    resize: none;

    &::placeholder{
        color: #a8a8a8;
    }

    &::-webkit-scrollbar{
        display: none;
    }
}

.ChatPost{
    @include button();
    width: 80px;
    height: 100%;
    background: #C4C4C4 url('/frontend/src/assets/images/IconPostArrow.png') center/50% no-repeat;
    border-radius: 5px;
    text-indent: -9999px;
    transition: .3s;
    cursor: default;

    &.On{
        background: #00B7FF url('/frontend/src/assets/images/IconPostArrow.png') center/50% no-repeat;
    
        &:hover{
            background-color: #00A3E3;
        }
    }
}

@media screen and (max-width: 820px) {

    .Chat{
        min-height: 0;
    }

    .ChatBoxBody{
        height: calc(100vh - 280px);

        &.Search{
            height: calc(100vh - 353px);
        }
    }
    
    .ChatContentHead{
        flex-direction: column;

        .HeadBox{
            width: fit-content;

            &.Profile{

                p{
                    font-size: 14px;
                }
            }

            &.Post{
                max-width: 100%;

                p{
                    @include textOverflow();
                }
            }
        }
    }

    .ChatContent{
        height: 170px;
    }

    .ChatContentBody{
        margin: 10px 0;

        p{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: normal;
            font-size: 12px;
            line-height: 18px;
            height: 36px;
        }
    }

    .ChatContentFooter{
        gap: 10px;

        p{
            font-size: 11px;
        }
    }

    .ChatBoxSearch{

        &.On{
            height: 52px;
        }

        .SearchInputWrap{
            margin: 9px 20px;
            padding: 0 16px;
            gap: 8px;
            height: 36px;
        }

        input{
            font-size: 11px;
        }
    }

    .DeleteBox{

        button{
            width: 52px;
            height: 30px;
            font-size: 13px;
            font-weight: 500;
            border-radius: 5px;
        }
    }



    .Chat.Dt .SectionWrap850{
        padding: 0;
    }

    .ChatBoxHead.Dt{

        p{
            @include textOverflow();
            max-width: calc(100% - 38px);
        }
    }

    .ChatBoxBody.Dt{
        height: calc(100vh - 380px);
    }

    .ChatDt{

        &.Opponent{
            margin: 20px auto 0 20px;

            .ChatTxt{
                max-width: calc(100vw - 158px);
            }
        }

        &.Me{
            margin: 24px 20px 0 auto;

            .ChatTxt{
                max-width: calc(100vw - 118px);
            }
        }
    }

    .ChatBoxBottom{
        height: auto;
        padding: 5px;
    }

    .ChatInput{
        margin: 11px auto 11px 7px;
        width: calc(100% - 68px);
        height: 20px;
        line-height: 17px;
    }

    .ChatPost{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 300px) {

    .ChatBoxHead{
        padding: 0 10px;
    }
    
    .ChatContent{
        padding: 8px 4px;
    }

    .ChatBoxSearch .SearchInputWrap{
        margin: 9px 10px;
        width: calc(100% - 20px);
        padding: 0 12px;
    }

    .ChatBoxList.On .ContentSet{
        width: 30px;
    }

    .ChatBoxList.On .ContentCard{
        width: calc(100% - 30px);
    }

    .CheckAllBox{
        width: 40px;
    }


    .ChatBoxHead.Dt{
        padding: 20px 10px;
    }
    
    .ChatDt{

        &.Opponent{
            margin: 20px auto 0 10px;

            .ChatTxt{
                max-width: calc(100vw - 100px);
            }
        }

        &.Me{
            margin: 24px 10px 0 auto;

            .ChatTxt{
                max-width: calc(100vw - 60px);
            }
        }
    }

}