section.MainTop {
  height: 130px;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}

section.MainTop .ButtonIntro {
  top: 42px;
}

div.TopCont {
  max-width: 850px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.TopCont h2 {
  font-size: 24px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

div.TopCont h2 a {
  display: block;
  background-image: url("/frontend/src/assets/images/IconNavArrow_Big.png");
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: 0 1px;
  width: 9px;
  height: 20px;
  margin-right: 20px;
}

.SectionWrap {
  max-width: 850px;
  margin: auto;
}

.Chat {
  height: calc(100vh - 131px);
  background-color: #F6F7FB;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ChatBoxWrapper {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.ChatBoxHead {
  height: 64px;
  border-bottom: 1px solid #A8A8A8;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ChatBoxHead h3 {
  margin-right: auto;
  font-size: 20px;
  font-weight: 700;
}

.ChatBoxHead button {
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -9999px;
}

.ChatBoxHead button.Search {
  width: 26px;
  height: 26px;
  margin-right: 20px;
  background: transparent url("/frontend/src/assets/images/serchSmall.png") center/100% no-repeat;
}

.ChatBoxHead button.Set {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #c4c4c4 url("/frontend/src/assets/images/SettingWhite.png") center/16px no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
}

.ChatBoxHead button.Set:hover {
  background-color: #B0B0B0;
}

.ChatBoxBody {
  height: 554px;
  overflow-y: auto;
}

.ChatBoxBody::-webkit-scrollbar {
  display: none;
}

.ChatContent {
  height: 116px;
  padding: 8px 14px;
  border: 6px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.ChatContent:hover {
  background-color: #f3f3f3;
}

.ChatContent:not(:last-child)::after {
  display: block;
  content: '';
  height: 1px;
  width: calc(100% + 12px);
  background-color: #e2e2e2;
  position: absolute;
  bottom: -6px;
  left: -6px;
}

.ContentSet {
  width: 0;
  padding-top: 5px;
  overflow: hidden;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ContentCard {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.ChatBoxList.On .ContentSet {
  width: 40px;
}

.ChatBoxList.On .ContentCard {
  width: calc(100% - 40px);
}

.InputHide ~ .LabelCheck {
  display: block !important;
}

.ChatContentHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.ChatContentHead .HeadBox {
  border-radius: 15px;
  height: 30px;
  border: 1px solid #E2E2E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ChatContentHead .HeadBox.Profile {
  padding-right: 12px;
}

.ChatContentHead .HeadBox.Profile .ProfileImg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 3px;
}

.ChatContentHead .HeadBox.Profile .ProfileFlag {
  width: 14px;
  height: 14px;
  margin-left: 12px;
}

.ChatContentHead .HeadBox.Profile p {
  font-size: 15px;
  font-weight: 700;
  margin-left: 8px;
}

.ChatContentHead .HeadBox.Post {
  padding: 8px 16px;
}

.ChatContentHead .HeadBox.Post p {
  font-size: 12px;
  color: #a8a8a8;
  font-weight: 500;
}

.ChatContentHead .HeadBox.Post p span {
  font-weight: 700;
  margin-right: 8px;
}

.ChatContentHead .HeadBox.Post p span.Study {
  color: #0F3FA6;
}

.ChatContentHead .HeadBox.Post p span.Hobby {
  color: #f7971e;
}

.ChatBoxSearch {
  height: 0;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.ChatBoxSearch.On {
  height: 78px;
}

.ChatBoxSearch .SearchInputWrap {
  margin: 14px 20px;
  width: calc(100% - 40px);
  height: 50px;
  border-radius: 35px;
  border: 1px solid #e2e2e2;
  padding: 0 20px 0 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.ChatBoxSearch .SearchInputWrap button {
  width: 26px;
  height: 26px;
  margin-bottom: 2px;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent url("/frontend/src/assets/images/serchSmall.png") center/100%;
}

.ChatBoxSearch input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 13px;
  color: #000;
  font-weight: 700;
}

.ChatBoxSearch input::-webkit-input-placeholder {
  color: #a8a8a8;
  font-weight: 500;
}

.ChatBoxSearch input:-ms-input-placeholder {
  color: #a8a8a8;
  font-weight: 500;
}

.ChatBoxSearch input::-ms-input-placeholder {
  color: #a8a8a8;
  font-weight: 500;
}

.ChatBoxSearch input::placeholder {
  color: #a8a8a8;
  font-weight: 500;
}

.ChatContentBody {
  margin: 14px 0 10px;
}

.ChatContentBody p {
  font-size: 14px;
  color: #707070;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ChatContentBody p.Disabled {
  color: #a8a8a8;
}

.ChatContentFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ChatContentFooter p {
  font-size: 13px;
  font-weight: 500;
}

.ChatContentFooter p.Date {
  color: #a8a8a8;
}

.ChatContentFooter p.New {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: #F95884;
  line-height: 1;
}

.ChatContentFooter p.New span {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  background-color: #F95884;
  border-radius: 10px;
  width: 30px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DeleteBox {
  width: 100%;
  height: 0;
  overflow-y: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #fff;
  border-top: 1px solid #e2e2e2;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.DeleteBox.On {
  height: 60px;
}

.DeleteBox button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 112px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #F95884;
}

.DeleteBox button:hover {
  background-color: #E9416E;
}

.DeleteBox button[type=reset] {
  background-color: #C4C4C4;
}

.DeleteBox button[type=reset]:hover {
  background-color: #B0B0B0;
}

.CheckAllBox {
  width: 58px;
  height: 100%;
  border-right: 1px solid #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.CheckAllBox span {
  margin: 0 !important;
}
/*# sourceMappingURL=chat.css.map */