/*Spoqa Han Sans*/

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: local('Spoqa Han Sans Regular'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: local('Spoqa Han Sans Light'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.otf') format('opentype');
}


/*SUIT*/

@font-face {
  font-family: 'SUIT';
  font-weight: 900;
  src: local('SUIT-ExtraBold'),
    url('../fonts/SUIT/SUIT-ExtraBold.otf');
}


@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: local('SUIT-Bold'),
    url('../fonts/SUIT/SUIT-Bold.otf');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  src: local('SUIT-SemiBold'),
    url('../fonts/SUIT/SUIT-SemiBold.otf');
}


@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  src: local('SUIT-Medium'),
    url('../fonts/SUIT/SUIT-Medium.otf');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: local('SUIT-Regular'),
    url('../fonts/SUIT/SUIT-Regular.otf');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 300;
  src: local('SUIT-Light'),
    url('../fonts/SUIT/SUIT-Light.otf');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 200;
  src: local('SUIT-Thin'),
    url('../fonts/SUIT/SUIT-Thin.otf');
}
