/*SUIT*/

@font-face {
  font-family: 'SUIT';
  font-weight: 900;
  src: local('SUIT-ExtraBold'), url('../fonts/SUIT/SUIT-ExtraBold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: local('SUIT-Bold'), url('../fonts/SUIT/SUIT-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  src: local('SUIT-SemiBold'), url('../fonts/SUIT/SUIT-SemiBold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  src: local('SUIT-Medium'), url('../fonts/SUIT/SUIT-Medium.otf');
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: local('SUIT-Regular'), url('../fonts/SUIT/SUIT-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 300;
  src: local('SUIT-Light'), url('../fonts/SUIT/SUIT-Light.otf');
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 200;
  src: local('SUIT-Thin'), url('../fonts/SUIT/SUIT-Thin.otf');
  font-display: swap;
}
